# Course: Intro to Python & R for Data Analysis
## Lecture: Let's get this data started - Pandas
Professor: Mary Kaltenberg

contact: mkaltenberg@pace.edu

About me: www.mkaltenberg.com

## Objectives:

Part 1 (Quickstart Guide):
- dataframes
- how to import data into a dataframe
- merge
- drop columns
- combine numpy AND pandas
- how to export data

Part 2 (Detailed Guide):
- concat
- transform and pivot
- groupby
- hierarchial indexing
- aggregate



<img src ='https://media.giphy.com/media/z6xE1olZ5YP4I/giphy.gif' >

Pandas technically comes from "Panel Data." I prefer the dancing pandas.

In [5]:
# Let's import the package
import pandas as pd

# Data Frames + Importing

We made it. We are finally at the point at importing real data and doing something with it!  Wahoooo!

So, pandas works with dataframes. It's technically an object. Those familiar with object based programming will be familiar with this concept, but well, it is what it seems. It is a thing, and object, that you can manipulate.

The first step on this journey is to import data. 

I've now uploaded data that we can use for today's exercise:

- world justice project 
- general inequality dataset

First step is to import the data and name it a variable.

The read csv function is:
`pd.read_csv()`

There is also `pd.read_table()` (typically for text files)

or import json into a dataframe directly with `pd.read_json()`

There is also an option to read stata files:

`from pandas import read_stata`

`pd.read_stata()`

Note of honesty about stata.

In [4]:
# use the tab function to read other types of data
pd.read_?

Object `pd.read_` not found.

So, one note. When you are managing a bunch of files, which you will do. You will want those files organized neatly and not just floating around so it's impossible to find. 

Generally, I create a folder root that I operate from. And from that point a few folders that I can move throughout the process.

To remember my root, I just create a variable and name the path. There are a bunch of ways of doing this (there is a function called path that you can use, but I'm stuck in my ways at this point.)

In [8]:
path = '/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/'
ds = '/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/'

#you can name it whatever or use how ever many folders and organization you want. 
# Just be organized or you will regret it later

In [7]:
pwd

'/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas'

In [ ]:
# WINDOWS ONLY!!
#this is another way to organize files - pathlib has a lot of features 
# that can be useful when you want to recursively open a variety of data files and append them

from pathlib import Path, PureWindowsPath
import os
p = Path(r'C:/Users/mkaltenberg/Documents/Data Analysis Python R Lectures/Data_Analysis_Python_R')

'C://Users//mkaltenberg//Documents//Data Analysis Python R Lectures//Data_Analysis_Python_R'
# For windows, you must use the r to read the information "literally" 
# since "/" is the escape command
# For windows DO NOT use the last backslash when naming a pathfile name

# In order to join two strings together in a path, you must use the following function:
os.path.join(p,'wjp.csv')

#so, to import you have to join the two strings within the read function:
wjp = pd.read_csv(os.path.join(p,"ds/wjp.csv"))

Another management system is to use the package os - this is very good for windows
`import os`

To change a working directory
`os.chdirec(r'your/path/here')`

using r before a string will rever the backslashes. Windows uses '\\' to separate folders while lunx and mac use '/'

r allows you go reverse the back slashes for windows computers

Linux/mac can also use this package, but you wouldn't use r before the string

In [9]:
# you can also do this in windows
wjp = pd.read_csv(r'C:/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/wjp.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/wjp.csv'

In [10]:
wjp = pd.read_csv(ds+'wjp.csv') 
#"/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/wjp.csv"
ineq = pd.read_csv(ds+'ineq.csv') 

#here you can see I am using the variable path names I created so I can easily access the information 
# instead of writing the entire path name out

In [11]:
ineq

,country,coun3,year,atkinson2,gini,m2mratio,palmaratio,income1,income2,income3,...,population,databasesource,sharetop1,sharetop5,source1,sqcoeffvariation,surveysource2,surveyyears,consumptionsurvey,theil
0,Afghanistan,AFG,1960,0.438471,0.368112,1.548593,2.261509,18.218770,31.011350,40.30614,...,8994793.0,NaN,0.107877,0.240413,NaN,0.402498,NaN,0,NaN,0.314756
1,Afghanistan,AFG,1961,0.438471,0.368112,1.548593,2.261509,17.995520,30.631360,39.81226,...,9164945.0,NaN,NaN,NaN,NaN,0.402498,NaN,0,NaN,0.314756
2,Afghanistan,AFG,1962,0.438471,0.368112,1.548593,2.261509,17.896650,30.463050,39.59351,...,9343772.0,NaN,NaN,NaN,NaN,0.402498,NaN,0,NaN,0.314756
3,Afghanistan,AFG,1963,0.438471,0.368112,1.548593,2.261509,17.822540,30.336910,39.42956,...,9531555.0,NaN,NaN,NaN,NaN,0.402498,NaN,0,NaN,0.314756
4,Afghanistan,AFG,1964,0.438471,0.368112,1.548593,2.261509,17.748430,30.210770,39.26561,...,9728645.0,NaN,NaN,NaN,NaN,0.402498,NaN,0,NaN,0.314756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8834,Zambia,ZMB,2011,0.779397,0.635562,2.689448,8.409883,3.047879,7.533658,11.95330,...,14343526.0,NaN,NaN,NaN,NaN,1.151980,NaN,0,NaN,0.753847
8835,Zambia,ZMB,2012,0.779397,0.635562,2.689448,8.409883,3.155548,7.799790,12.37556,...,14786581.0,NaN,NaN,NaN,NaN,1.151980,NaN,0,NaN,0.753847
8836,Zambia,ZMB,2013,0.779397,0.635562,2.689448,8.409883,3.265904,8.072563,12.80835,...,15246086.0,NaN,0.249741,0.426467,NaN,1.151980,NaN,0,NaN,0.753847
8837,Zambia,ZMB,2014,0.779397,0.635562,2.689448,8.409883,3.357206,8.298241,13.16643,...,15721343.0,NaN,NaN,NaN,NaN,1.151980,NaN,0,NaN,0.753847
8838,Zambia,ZMB,2015,0.779397,0.635562,2.689448,8.409883,3.469737,8.576392,13.60776,...,15808000.0,NaN,0.249741,0.426467,NaN,1.151980,NaN,0,NaN,0.753847

In [17]:
# you can learn some general things about the dataframe
#what columns are in it
wjp.columns

Index(['Country', 'Region', 'Income Group', 'isocode', 'year', 'id',
       'isocode.1', 'factor1',
       'f1.2 Government powers are effectively limited by the legislature',
       'f1.3 Government powers are effectively limited by the judiciary',
       'f1.4 Government powers are effectively limited by independent auditing and review',
       'f1.5 Government officials are sanctioned for misconduct',
       'f1.6 Government powers are subject to non-governmental checks',
       'f1.7 Transition of power is subject to the law', 'factor2',
       'f2.1 Government officials in the executive branch do not use public office for private gain',
       'f2.2 Government officials in the judicial branch do not use public office for private gain',
       'f2.3 Government officials in the police and the military do not use public office for private gain',
       'f2.4 Government officials in the legislative branch do not use public office for private gain',
       'factor3', 'f3.1 Crime is effectively controlled',
       'f3.2 Civil conflict is effectively limited',
       'f3.3 People do not resort to violence to redress personal grievances',
       'factor4', 'f4.1 Equal treatment and absence of discrimination',
       'f4.2 The right to life and security of the person is effectively guaranteed',
       'f4.3 Due process of law and rights of the accused',
       'f4.4 Freedom of opinion and expression is effectively guaranteed',
       'f4.5 Freedom of belief and religion is effectively guaranteed',
       'f4.6 Freedom from arbitrary interference with privacy is effectively guaranteed',
       'f4.7 Freedom of assembly and association is effectively guaranteed',
       'f4.8 Fundamental labor rights are effectively guaranteed', 'factor5',
       'f5.1 The laws are publicized and accessible',
       'f5.2 The laws are stable',
       'f5.3 Right to petition the government and public participation',
       'f5.4 Official information is available on request', 'factor6',
       'f6.1 Government regulations are effectively enforced',
       'f6.2 Government regulations are applied and enforced without improper influence',
       'f6.3 Administrative proceedings are conducted without unreasonable delay',
       'f6.4 Due process is respected in administrative proceedings',
       'f6.5 The Government does not expropriate without adequate compensation',
       'factor7', 'f7.1 People can access and afford civil justice',
       'f7.2 Civil justice is free of discrimination',
       'f7.3 Civil justice is free of corruption',
       'f7.4 Civil justice is free of improper government influence',
       'f7.5 Civil justice is not subject to unreasonable delays',
       'f7.6 Civil justice is effectively enforced',
       'f7.7 ADRs are accessible, impartial, and effective', 'factor8',
       'f8.1 Criminal investigation system is effective',
       'f8.2 Criminal adjudication system is timely and effective',
       'f8.3 Correctional system is effective in reducing criminal behavior',
       'f8.4 Criminal system is impartial',
       'f8.5 Criminal system is free of corruption',
       'f8.6 Criminal system is free of improper government influence',
       'f8.7 Due process of law and rights of the accused'],
      dtype='object')

In [19]:
#what the first few rows looks like 
wjp.head

In [22]:
# or specify the rows

wjp.head(20) # first 20

,Country,Region,Income Group,isocode,year,id,isocode.1,factor1,f1.2 Government powers are effectively limited by the legislature,f1.3 Government powers are effectively limited by the judiciary,...,f7.6 Civil justice is effectively enforced,"f7.7 ADRs are accessible, impartial, and effective",factor8,f8.1 Criminal investigation system is effective,f8.2 Criminal adjudication system is timely and effective,f8.3 Correctional system is effective in reducing criminal behavior,f8.4 Criminal system is impartial,f8.5 Criminal system is free of corruption,f8.6 Criminal system is free of improper government influence,f8.7 Due process of law and rights of the accused
0,Albania,Eastern Europe & Central Asia,Lower middle income,ALB,2012,ALB2012,ALB,0.46,0.57,0.34,...,0.58,0.69,0.41,0.33,0.42,0.39,0.49,0.32,0.41,0.51
1,Argentina,Latin America & Caribbean,Upper middle income,ARG,2012,ARG2012,ARG,0.46,0.50,0.39,...,0.34,0.70,0.43,0.30,0.32,0.32,0.59,0.47,0.46,0.58
2,Australia,East Asia & Pacific,High income,AUS,2012,AUS2012,AUS,0.88,0.91,0.88,...,0.77,0.85,0.72,0.56,0.62,0.65,0.60,0.89,0.94,0.81
3,Austria,Western Europe & North America,High income,AUT,2012,AUT2012,AUT,0.82,0.88,0.80,...,0.79,0.94,0.75,0.64,0.75,0.70,0.64,0.86,0.85,0.80
4,Bangladesh,South Asia,Low income,BGD,2012,BGD2012,BGD,0.40,0.52,0.41,...,0.27,0.40,0.38,0.47,0.42,0.29,0.45,0.32,0.40,0.33
5,Belarus,Eastern Europe & Central Asia,Upper middle income,BLR,2012,BLR2012,BLR,0.34,0.28,0.26,...,0.68,0.77,0.59,0.69,0.68,0.55,0.69,0.66,0.34,0.55
6,Belgium,Western Europe & North America,High income,BEL,2012,BEL2012,BEL,0.78,0.83,0.72,...,0.65,0.77,0.72,0.75,0.66,0.48,0.71,0.80,0.84,0.76
7,Bolivia,Latin America & Caribbean,Lower middle income,BOL,2012,BOL2012,BOL,0.38,0.37,0.25,...,0.40,0.58,0.28,0.20,0.14,0.24,0.39,0.23,0.38,0.39
8,Bosnia and Herzegovina,Eastern Europe & Central Asia,Upper middle income,BIH,2012,BIH2012,BIH,0.55,0.65,0.51,...,0.38,0.66,0.62,0.75,0.68,0.43,0.64,0.60,0.51,0.70
9,Botswana,Sub-Saharan Africa,Upper middle income,BWA,2012,BWA2012,BWA,0.73,0.76,0.79,...,0.69,0.67,0.72,0.75,0.74,0.50,0.70,0.85,0.82,0.66
10,Brazil,Latin America & Caribbean,Upper middle income,BRA,2012,BRA2012,BRA,0.62,0.73,0.62,...,0.36,0.58,0.49,0.49,0.42,0.23,0.37,0.61,0.84,0.44
11,Bulgaria,Eastern Europe & Central Asia,Upper middle income,BGR,2012,BGR2012,BGR,0.51,0.51,0.41,...,0.48,0.72,0.39,0.23,0.40,0.29,0.24,0.40,0.64,0.51
12,Burkina Faso,Sub-Saharan Africa,Low income,BFA,2012,BFA2012,BFA,0.43,0.40,0.41,...,0.61,0.72,0.45,0.56,0.47,0.26,0.60,0.45,0.41,0.38
13,Cambodia,East Asia & Pacific,Low income,KHM,2012,KHM2012,KHM,0.34,0.43,0.26,...,0.38,0.56,0.40,0.53,0.51,0.26,0.39,0.20,0.54,0.34
14,Cameroon,Sub-Saharan Africa,Lower middle income,CMR,2012,CMR2012,CMR,0.31,0.24,0.27,...,0.21,0.54,0.32,0.42,0.33,0.06,0.40,0.22,0.51,0.28
15,Canada,Western Europe & North America,High income,CAN,2012,CAN2012,CAN,0.78,0.78,0.78,...,0.79,0.84,0.75,0.82,0.74,0.69,0.56,0.80,0.86,0.76
16,Chile,Latin America & Caribbean,Upper middle income,CHL,2012,CHL2012,CHL,0.74,0.78,0.66,...,0.60,0.80,0.60,0.61,0.68,0.26,0.56,0.73,0.77,0.61
17,China,East Asia & Pacific,Upper middle income,CHN,2012,CHN2012,CHN,0.36,0.65,0.45,...,0.35,0.52,0.54,0.77,0.59,0.63,0.65,0.59,0.09,0.49
18,Colombia,Latin America & Caribbean,Upper middle income,COL,2012,COL2012,COL,0.55,0.61,0.49,...,0.44,0.74,0.43,0.49,0.39,0.21,0.43,0.44,0.63,0.43
19,Cote d'Ivoire,Sub-Saharan Africa,Lower middle income,CIV,2012,CIV2012,CIV,0.43,0.46,0.35,...,0.49,0.74,0.37,0.43,0.49,0.11,0.38,0.37,0.54,0.29

### Trouble shooting

Some data is trickier, though. 

Some trouble shooting issues.

Not all CSV are created equal. Python reads UTF-8 files. Sometimes, you may have to export your file so that it is 'UTF-8' csv

This is a hack - when all else fails, you might want to do this:

<img src ='utf-8csv.png' width=500 >

When you import, not all files are csv. You may have different separators and delimiters.

Seperators separate values into different cells. Delimiters create new rows (they mark the end of a row).

Often, the easiest thing to do is use the `encoding` option when importing a csv. Usually, `latin` enconding works to fix the problem.

In [26]:
pd.read_csv?

In [27]:
#encoding option in python
pd.read_csv(ds+'wjp.csv',sep = ',', encoding = 'latin1')

,Country,Region,Income Group,isocode,year,id,isocode.1,factor1,f1.2 Government powers are effectively limited by the legislature,f1.3 Government powers are effectively limited by the judiciary,...,f7.6 Civil justice is effectively enforced,"f7.7 ADRs are accessible, impartial, and effective",factor8,f8.1 Criminal investigation system is effective,f8.2 Criminal adjudication system is timely and effective,f8.3 Correctional system is effective in reducing criminal behavior,f8.4 Criminal system is impartial,f8.5 Criminal system is free of corruption,f8.6 Criminal system is free of improper government influence,f8.7 Due process of law and rights of the accused
0,Albania,Eastern Europe & Central Asia,Lower middle income,ALB,2012,ALB2012,ALB,0.46,0.57,0.34,...,0.58,0.69,0.41,0.33,0.42,0.39,0.49,0.32,0.41,0.51
1,Argentina,Latin America & Caribbean,Upper middle income,ARG,2012,ARG2012,ARG,0.46,0.50,0.39,...,0.34,0.70,0.43,0.30,0.32,0.32,0.59,0.47,0.46,0.58
2,Australia,East Asia & Pacific,High income,AUS,2012,AUS2012,AUS,0.88,0.91,0.88,...,0.77,0.85,0.72,0.56,0.62,0.65,0.60,0.89,0.94,0.81
3,Austria,Western Europe & North America,High income,AUT,2012,AUT2012,AUT,0.82,0.88,0.80,...,0.79,0.94,0.75,0.64,0.75,0.70,0.64,0.86,0.85,0.80
4,Bangladesh,South Asia,Low income,BGD,2012,BGD2012,BGD,0.40,0.52,0.41,...,0.27,0.40,0.38,0.47,0.42,0.29,0.45,0.32,0.40,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uzbekistan,Eastern Europe & Central Asia,Lower middle income,UZB,2012,UZB2012,UZB,0.24,0.05,0.19,...,0.51,0.66,0.36,0.58,0.51,0.35,0.37,0.29,0.15,0.25
93,Venezuela,Latin America & Caribbean,Upper middle income,VEN,2012,VEN2012,VEN,0.25,0.29,0.23,...,0.20,0.57,0.24,0.36,0.20,0.05,0.27,0.30,0.23,0.25
94,Vietnam,East Asia & Pacific,Lower middle income,VNM,2012,VNM2012,VNM,0.40,0.33,0.28,...,0.39,0.64,0.57,0.60,0.65,0.57,0.70,0.52,0.36,0.59
95,Zambia,Sub-Saharan Africa,Lower middle income,ZMB,2012,ZMB2012,ZMB,0.51,0.53,0.35,...,0.47,0.77,0.37,0.51,0.41,0.15,0.42,0.39,0.34,0.35
96,Zimbabwe,Sub-Saharan Africa,Low income,ZWE,2012,ZWE2012,ZWE,0.25,0.36,0.29,...,0.48,0.54,0.43,0.58,0.49,0.36,0.57,0.29,0.44,0.30

In [28]:
cd '/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/'

/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds

In [29]:
pwd

'/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds'

In [30]:
# Sometimes you may have trouble importing it and you have no idea why. 
# A first step is to check what the beginning contents look like:
!head 'wjp.csv'

#Looking at the first few lines can indicate how it is separated and where/what are the headers

Country,Region,Income Group,isocode,year,id,isocode.1,factor1,f1.2 Government powers are effectively limited by the legislature,f1.3 Government powers are effectively limited by the judiciary,f1.4 Government powers are effectively limited by independent auditing and review,f1.5 Government officials are sanctioned for misconduct,f1.6 Government powers are subject to non-governmental checks,f1.7 Transition of power is subject to the law,factor2,f2.1 Government officials in the executive branch do not use public office for private gain,f2.2 Government officials in the judicial branch do not use public office for private gain,f2.3 Government officials in the police and the military do not use public office for private gain,f2.4 Government officials in the legislative branch do not use public office for private gain,factor3,f3.1 Crime is effectively controlled,f3.2 Civil conflict is effectively limited,f3.3 People do not resort to violence to redress personal grievances,factor4,f4.1 Equal treatment and absence of discrimination,f4.2 The right to life and security of the person is effectively guaranteed,f4.3 Due process of law and rights of the accused,f4.4 Freedom of opinion and expression is effectively guaranteed,f4.5 Freedom of belief and religion is effectively guaranteed,f4.6 Freedom from arbitrary interference with privacy is effectively guaranteed,f4.7 Freedom of assembly and association is effectively guaranteed,f4.8 Fundamental labor rights are effectively guaranteed,factor5,f5.1 The laws are publicized and accessible,f5.2 The laws are stable,f5.3 Right to petition the government and public participation,f5.4 Official information is available on request,factor6,f6.1 Government regulations are effectively enforced,f6.2 Government regulations are applied and enforced without improper influence,f6.3 Administrative proceedings are conducted without unreasonable delay,f6.4 Due process is respected in administrative proceedings,f6.5 The Government does not expropriate without adequate compensation,factor7,f7.1 People can access and afford civil justice,f7.2 Civil justice is free of discrimination,f7.3 Civil justice is free of corruption,f7.4 Civil justice is free of improper government influence,f7.5 Civil justice is not subject to unreasonable delays,f7.6 Civil justice is effectively enforced,"f7.7 ADRs are accessible, impartial, and effective",factor8,f8.1 Criminal investigation system is effective,f8.2 Criminal adjudication system is timely and effective,f8.3 Correctional system is effective in reducing criminal behavior,f8.4 Criminal system is impartial,f8.5 Criminal system is free of corruption,f8.6 Criminal system is free of improper government influence,f8.7 Due process of law and rights of the accused
Albania,Eastern Europe & Central Asia,Lower middle income,ALB,2012,ALB2012,ALB,0.46,0.57,0.34,0.37,0.34,0.61,0.52,0.31,0.4,0.24,0.41,0.2,0.73,0.86,1.0,0.33,0.63,0.65,0.67,0.51,0.62,0.77,0.52,0.72,0.58,0.44,0.54,0.56,0.25,0.44,0.43,0.42,0.38,0.44,0.35,0.54,0.51,0.61,0.6,0.22,0.48,0.38,0.58,0.69,0.41,0.33,0.42,0.39,0.49,0.32,0.41,0.51
Argentina,Latin America & Caribbean,Upper middle income,ARG,2012,ARG2012,ARG,0.46,0.5,0.39,0.44,0.26,0.54,0.63,0.47,0.45,0.63,0.54,0.28,0.6,0.56,1.0,0.23,0.63,0.65,0.74,0.58,0.54,0.72,0.58,0.69,0.55,0.48,0.56,0.47,0.48,0.41,0.43,0.42,0.48,0.36,0.46,0.43,0.54,0.63,0.72,0.62,0.45,0.3,0.34,0.7,0.43,0.3,0.32,0.32,0.59,0.47,0.46,0.58
Australia,East Asia & Pacific,High income,AUS,2012,AUS2012,AUS,0.88,0.91,0.88,0.85,0.81,0.88,0.97,0.9,0.89,0.94,0.94,0.82,0.86,0.85,1.0,0.72,0.84,0.61,0.9,0.81,0.89,0.84,0.93,0.97,0.79,0.84,0.87,0.88,0.81,0.81,0.83,0.78,0.89,0.81,0.87,0.8,0.72,0.6,0.56,0.92,0.86,0.51,0.77,0.85,0.72,0.56,0.62,0.65,0.6,0.89,0.94,0.81
Austria,Western Europe & North America,High income,AUT,2012,AUT2012,AUT,0.82,0.88,0.8,0.7,0.69,0.9,0.97,0.77,0.76,0.88,0.91,0.54,0.89,0.92,1.0,0.73,0.82,0.69,0.85,0.8,0.9,0.87,0.78,0.95,0.77,0.8,0.85,1.0,0.83,0.52,0.84,0.82,0.88,0.85,0.81,0.86,0.74,0.66,0.59,0.9,0.76,0.58,0.79,0.94,0.75,0.64,0.75,0.7,0.64,0.86,0.85,0.8
Bangladesh,South Asia,Low income,BGD,2012,BGD2012,BGD,0.4,0.52,0.41,0.39,0.26,0.42,0.41,0.29,0.34,0.25,0.23,0.34,0.62,0.67,1.0,0.2,0.43,0.51,0.27,0.33,0.43,0.45,0.42,0.55,0.53,0.35,0.44,0.16,0.44,0.38,0.36,0.35,0.22,0.46,0.26,0.48,0.32,0.39,0.3,0.26,0.46,0.17,0.27,0.4,0.38,0.47,0.42,0.29,0.45,0.32,0.4,0.33
Belarus,Eastern Europe & Central Asia,Upper middle income,BLR,2012,BLR2012,BLR,0.34,0.28,0.26,0.41,0.49,0.25,0.32,0.5,0.52,0.47,0.65,0.38,0.78,0.82,0.92,0.6,0.45,0.71,0.5,0.55,0.26,0.66,0.04,0.35,0.55,0.36,0.46,0.33,0.33,0.31,0.56,0.58,0.58,0.71,0.44,0.47,0.63,0.6,0.73,0.54,0.38,0.72,0.68,0.77,0.59,0.69,0.68,0.55,0.69,0.66,0.34,0.55
Belgium,Western Europe & North America,High income,BEL,2012,BEL2012,BEL,0.78,0.83,0.72,0.81,0.74,0.76,0.82,0.78,0.78,0.88,0.87,0.6,0.84,0.82,1.0,0.69,0.81,0.78,0.89,0.76,0.77,0.8,0.88,0.8,0.84,0.67,0.66,0.76,0.65,0.6,0.7,0.69,0.82,0.54,0.68,0.76,0.68,0.65,0.74,0.81,0.73,0.41,0.65,0.77,0.72,0.75,0.66,0.48,0.71,0.8,0.84,0.76
Bolivia,Latin America & Caribbean,Lower middle income,BOL,2012,BOL2012,BOL,0.38,0.37,0.25,0.38,0.36,0.41,0.49,0.24,0.34,0.22,0.22,0.19,0.67,0.66,1.0,0.36,0.49,0.44,0.49,0.39,0.42,0.66,0.45,0.52,0.55,0.41,0.42,0.48,0.39,0.35,0.37,0.31,0.38,0.46,0.33,0.39,0.38,0.47,0.4,0.25,0.36,0.2,0.4,0.58,0.28,0.2,0.14,0.24,0.39,0.23,0.38,0.39
Bosnia and Herzegovina,Eastern Europe & Central Asia,Upper middle income,BIH,2012,BIH2012,BIH,0.55,0.65,0.51,0.53,0.39,0.55,0.63,0.47,0.43,0.51,0.64,0.29,0.76,0.85,1.0,0.44,0.67,0.64,0.72,0.7,0.56,0.72,0.68,0.65,0.69,0.49,0.56,0.51,0.43,0.47,0.53,0.46,0.47,0.48,0.65,0.59,0.5,0.54,0.6,0.5,0.56,0.25,0.38,0.66,0.62,0.75,0.68,0.43,0.64,0.6,0.51,0.7

In [31]:
pd.read_csv('wjp.csv',sep = ',')

#the optional argument sep will let you pick the particular separator for your data

,Country,Region,Income Group,isocode,year,id,isocode.1,factor1,f1.2 Government powers are effectively limited by the legislature,f1.3 Government powers are effectively limited by the judiciary,...,f7.6 Civil justice is effectively enforced,"f7.7 ADRs are accessible, impartial, and effective",factor8,f8.1 Criminal investigation system is effective,f8.2 Criminal adjudication system is timely and effective,f8.3 Correctional system is effective in reducing criminal behavior,f8.4 Criminal system is impartial,f8.5 Criminal system is free of corruption,f8.6 Criminal system is free of improper government influence,f8.7 Due process of law and rights of the accused
0,Albania,Eastern Europe & Central Asia,Lower middle income,ALB,2012,ALB2012,ALB,0.46,0.57,0.34,...,0.58,0.69,0.41,0.33,0.42,0.39,0.49,0.32,0.41,0.51
1,Argentina,Latin America & Caribbean,Upper middle income,ARG,2012,ARG2012,ARG,0.46,0.50,0.39,...,0.34,0.70,0.43,0.30,0.32,0.32,0.59,0.47,0.46,0.58
2,Australia,East Asia & Pacific,High income,AUS,2012,AUS2012,AUS,0.88,0.91,0.88,...,0.77,0.85,0.72,0.56,0.62,0.65,0.60,0.89,0.94,0.81
3,Austria,Western Europe & North America,High income,AUT,2012,AUT2012,AUT,0.82,0.88,0.80,...,0.79,0.94,0.75,0.64,0.75,0.70,0.64,0.86,0.85,0.80
4,Bangladesh,South Asia,Low income,BGD,2012,BGD2012,BGD,0.40,0.52,0.41,...,0.27,0.40,0.38,0.47,0.42,0.29,0.45,0.32,0.40,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uzbekistan,Eastern Europe & Central Asia,Lower middle income,UZB,2012,UZB2012,UZB,0.24,0.05,0.19,...,0.51,0.66,0.36,0.58,0.51,0.35,0.37,0.29,0.15,0.25
93,Venezuela,Latin America & Caribbean,Upper middle income,VEN,2012,VEN2012,VEN,0.25,0.29,0.23,...,0.20,0.57,0.24,0.36,0.20,0.05,0.27,0.30,0.23,0.25
94,Vietnam,East Asia & Pacific,Lower middle income,VNM,2012,VNM2012,VNM,0.40,0.33,0.28,...,0.39,0.64,0.57,0.60,0.65,0.57,0.70,0.52,0.36,0.59
95,Zambia,Sub-Saharan Africa,Lower middle income,ZMB,2012,ZMB2012,ZMB,0.51,0.53,0.35,...,0.47,0.77,0.37,0.51,0.41,0.15,0.42,0.39,0.34,0.35
96,Zimbabwe,Sub-Saharan Africa,Low income,ZWE,2012,ZWE2012,ZWE,0.25,0.36,0.29,...,0.48,0.54,0.43,0.58,0.49,0.36,0.57,0.29,0.44,0.30

In [ ]:
pd.read_csv('wjp.csv',sep = ',', header = 0)
# You may also have to tell pandas what row is the header [remember index 0]

In [32]:
# so let's take a look at a weird example
pd.read_csv('E8081RQI.TXT')
# could also import with pd.read_table('E8081RQI.TXT')
#it's not separated by commas

    2I 480999  226545805 110053161 116492644  94924338  99788225  12612349  14071065    702228    718172   1814246   1915182   7279831   7328842  88034515  92871861  12351400  13790283    654876    670787   1732539   1830871
0    2I 480  0    3533692   1806338   1727354   148...
1    2I 480  1    3269557   1674095   1595462   137...
2    2I 480  2    3223816   1648044   1575772   135...
3    2I 480  3    3179441   1625693   1553748   133...
4    2I 480  4    3141748   1607839   1533909   132...
..                                                 ...
403  2I 181 97      22323      5432     16891      ...
404  2I 181 98      15052      3615     11437      ...
405  2I 181 99      10102      2436      7666      ...
406  2I 181100      16480      3620     12860      ...
407                                                  

[408 rows x 1 columns]

In [33]:
!head 'E8081RQI.TXT'

In [38]:
pd.read_csv('E8081RQI.TXT', sep = '\s+')

# \t = tab
# \s = space
# \s+ = many spaces

,2I,480999,226545805,110053161,116492644,94924338,99788225,12612349,14071065,702228,...,7279831,7328842,88034515,92871861,12351400,13790283,654876,670787,1732539,1830871
2I,480.0,0.0,3533692.0,1806338.0,1727354.0,1484917.0,1410291.0,269753.0,266588.0,16520.0,...,187087.0,180958.0,1308369.0,1239589.0,262741.0,259777.0,15005.0,14854.0,33136.0,32176.0
2I,480.0,1.0,3269557.0,1674095.0,1595462.0,1378588.0,1305403.0,247650.0,243915.0,15365.0,...,168208.0,160008.0,1219741.0,1154428.0,241485.0,237898.0,13993.0,13260.0,30668.0,29868.0
2I,480.0,2.0,3223816.0,1648044.0,1575772.0,1358331.0,1290771.0,242918.0,239280.0,14626.0,...,165699.0,159251.0,1201799.0,1140368.0,236917.0,233426.0,13267.0,13054.0,30362.0,29673.0
2I,480.0,3.0,3179441.0,1625693.0,1553748.0,1338812.0,1272167.0,239843.0,235242.0,14782.0,...,165061.0,159005.0,1182676.0,1121777.0,233931.0,229493.0,13488.0,12909.0,30537.0,30564.0
2I,480.0,4.0,3141748.0,1607839.0,1533909.0,1321207.0,1253457.0,239431.0,234578.0,14510.0,...,161988.0,155908.0,1167815.0,1105666.0,233675.0,229301.0,13291.0,12852.0,31070.0,30182.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2I,181.0,97.0,22323.0,5432.0,16891.0,4689.0,15288.0,671.0,1466.0,24.0,...,141.0,330.0,4557.0,14981.0,665.0,1450.0,23.0,40.0,46.0,90.0
2I,181.0,98.0,15052.0,3615.0,11437.0,3055.0,10241.0,509.0,1088.0,15.0,...,105.0,219.0,2963.0,10037.0,501.0,1074.0,14.0,26.0,32.0,81.0
2I,181.0,99.0,10102.0,2436.0,7666.0,2036.0,6774.0,378.0,820.0,2.0,...,70.0,155.0,1973.0,6630.0,373.0,813.0,2.0,18.0,18.0,50.0
2I,181100.0,16480.0,3620.0,12860.0,2783.0,10930.0,738.0,1799.0,31.0,39.0,...,267.0,2689.0,10690.0,727.0,1776.0,30.0,38.0,65.0,89.0,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
pd.read_csv?

In [45]:
#we can choose which columns we to include and import without a header
test_data = pd.read_csv('E8081RQI.TXT', sep = '\s+', usecols=(range(0,5)), header=None)

#We can rename columns
test_data.columns='dataset','variable','population','GDP','Income'
test_data

    dataset  variable   population          GDP       Income
0        2I  480999.0  226545805.0  110053161.0  116492644.0
1        2I     480.0          0.0    3533692.0    1806338.0
2        2I     480.0          1.0    3269557.0    1674095.0
3        2I     480.0          2.0    3223816.0    1648044.0
4        2I     480.0          3.0    3179441.0    1625693.0
..      ...       ...          ...          ...          ...
404      2I     181.0         97.0      22323.0       5432.0
405      2I     181.0         98.0      15052.0       3615.0
406      2I     181.0         99.0      10102.0       2436.0
407      2I  181100.0      16480.0       3620.0      12860.0
408              NaN          NaN          NaN          NaN

[409 rows x 5 columns]

In [46]:
# we can also drop anything in the file that is missing
pd.read_csv('E8081RQI.TXT', sep = '\s+').dropna()

,2I,480999,226545805,110053161,116492644,94924338,99788225,12612349,14071065,702228,...,7279831,7328842,88034515,92871861,12351400,13790283,654876,670787,1732539,1830871
2I,480.0,0.0,3533692.0,1806338.0,1727354.0,1484917.0,1410291.0,269753.0,266588.0,16520.0,...,187087.0,180958.0,1308369.0,1239589.0,262741.0,259777.0,15005.0,14854.0,33136.0,32176.0
2I,480.0,1.0,3269557.0,1674095.0,1595462.0,1378588.0,1305403.0,247650.0,243915.0,15365.0,...,168208.0,160008.0,1219741.0,1154428.0,241485.0,237898.0,13993.0,13260.0,30668.0,29868.0
2I,480.0,2.0,3223816.0,1648044.0,1575772.0,1358331.0,1290771.0,242918.0,239280.0,14626.0,...,165699.0,159251.0,1201799.0,1140368.0,236917.0,233426.0,13267.0,13054.0,30362.0,29673.0
2I,480.0,3.0,3179441.0,1625693.0,1553748.0,1338812.0,1272167.0,239843.0,235242.0,14782.0,...,165061.0,159005.0,1182676.0,1121777.0,233931.0,229493.0,13488.0,12909.0,30537.0,30564.0
2I,480.0,4.0,3141748.0,1607839.0,1533909.0,1321207.0,1253457.0,239431.0,234578.0,14510.0,...,161988.0,155908.0,1167815.0,1105666.0,233675.0,229301.0,13291.0,12852.0,31070.0,30182.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2I,181.0,95.0,45313.0,11410.0,33903.0,10231.0,31085.0,1032.0,2556.0,35.0,...,312.0,671.0,9935.0,30451.0,1020.0,2524.0,35.0,70.0,108.0,187.0
2I,181.0,96.0,32120.0,7926.0,24194.0,6980.0,22081.0,834.0,1929.0,37.0,...,217.0,477.0,6778.0,21633.0,825.0,1905.0,34.0,46.0,72.0,133.0
2I,181.0,97.0,22323.0,5432.0,16891.0,4689.0,15288.0,671.0,1466.0,24.0,...,141.0,330.0,4557.0,14981.0,665.0,1450.0,23.0,40.0,46.0,90.0
2I,181.0,98.0,15052.0,3615.0,11437.0,3055.0,10241.0,509.0,1088.0,15.0,...,105.0,219.0,2963.0,10037.0,501.0,1074.0,14.0,26.0,32.0,81.0
2I,181.0,99.0,10102.0,2436.0,7666.0,2036.0,6774.0,378.0,820.0,2.0,...,70.0,155.0,1973.0,6630.0,373.0,813.0,2.0,18.0,18.0,50.0

In [47]:
# careful - it will drop entire rows that have one na
test_data.dropna()

    dataset  variable   population          GDP       Income
0        2I  480999.0  226545805.0  110053161.0  116492644.0
1        2I     480.0          0.0    3533692.0    1806338.0
2        2I     480.0          1.0    3269557.0    1674095.0
3        2I     480.0          2.0    3223816.0    1648044.0
4        2I     480.0          3.0    3179441.0    1625693.0
..      ...       ...          ...          ...          ...
403      2I     181.0         96.0      32120.0       7926.0
404      2I     181.0         97.0      22323.0       5432.0
405      2I     181.0         98.0      15052.0       3615.0
406      2I     181.0         99.0      10102.0       2436.0
407      2I  181100.0      16480.0       3620.0      12860.0

[408 rows x 5 columns]

In [ ]:
pop_data = test_data.dropna()

In [48]:
#or we can replace missing values with whatever we want
pd.read_csv('E8081RQI.TXT', sep = '\s+').fillna('.')

,2I,480999,226545805,110053161,116492644,94924338,99788225,12612349,14071065,702228,...,7279831,7328842,88034515,92871861,12351400,13790283,654876,670787,1732539,1830871
2I,480.0,0.0,3533692.0,1806338.0,1727354.0,1484917.0,1410291.0,269753.0,266588.0,16520.0,...,187087.0,180958.0,1308369.0,1239589.0,262741.0,259777.0,15005.0,14854.0,33136.0,32176.0
2I,480.0,1.0,3269557.0,1674095.0,1595462.0,1378588.0,1305403.0,247650.0,243915.0,15365.0,...,168208.0,160008.0,1219741.0,1154428.0,241485.0,237898.0,13993.0,13260.0,30668.0,29868.0
2I,480.0,2.0,3223816.0,1648044.0,1575772.0,1358331.0,1290771.0,242918.0,239280.0,14626.0,...,165699.0,159251.0,1201799.0,1140368.0,236917.0,233426.0,13267.0,13054.0,30362.0,29673.0
2I,480.0,3.0,3179441.0,1625693.0,1553748.0,1338812.0,1272167.0,239843.0,235242.0,14782.0,...,165061.0,159005.0,1182676.0,1121777.0,233931.0,229493.0,13488.0,12909.0,30537.0,30564.0
2I,480.0,4.0,3141748.0,1607839.0,1533909.0,1321207.0,1253457.0,239431.0,234578.0,14510.0,...,161988.0,155908.0,1167815.0,1105666.0,233675.0,229301.0,13291.0,12852.0,31070.0,30182.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2I,181.0,97.0,22323.0,5432.0,16891.0,4689.0,15288.0,671.0,1466.0,24.0,...,141.0,330.0,4557.0,14981.0,665.0,1450.0,23.0,40.0,46.0,90.0
2I,181.0,98.0,15052.0,3615.0,11437.0,3055.0,10241.0,509.0,1088.0,15.0,...,105.0,219.0,2963.0,10037.0,501.0,1074.0,14.0,26.0,32.0,81.0
2I,181.0,99.0,10102.0,2436.0,7666.0,2036.0,6774.0,378.0,820.0,2.0,...,70.0,155.0,1973.0,6630.0,373.0,813.0,2.0,18.0,18.0,50.0
2I,181100.0,16480.0,3620.0,12860.0,2783.0,10930.0,738.0,1799.0,31.0,39.0,...,267.0,2689.0,10690.0,727.0,1776.0,30.0,38.0,65.0,89.0,.
,.,.,.,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.

In [68]:
# test_data = pd.read_csv('E8081RQI.TXT', sep='\s+')
test_data.isna?

In [64]:
pd.read_csv?

sometimes you may get a mysterious 'Unnamed: 0' - often this is from python and it's an index (usually the first column)
You can do away with this by setting this column as the index
 
`pd.read_csv(filename, index_col = 0)`

Also, you can import from a clipboard by copy and pasting (but there can be errors, so be careful)

`pd.read_clipboard()`

Or from a pdf

``` python
from tabula import read_pdf
df = read_pdf('test.pdf', pages='all')
```

### Bonus: Pandas Data Reader Package

You can directly import data from some datasources (via API technically, but this doesn't count for your project)
These include real time data such as:
- Yahoo Finance
- Google Finance
- Morningstar
- IEX
- Robinhood
- Engima
- Quandl
- FRED
- World Bank
- OECD

Full list here: https://pandas-datareader.readthedocs.io/en/latest/remote_data.html

Quick read: https://thecleverprogrammer.com/2021/03/22/pandas-datareader-using-python-tutorial/

In [50]:
!pip install pandas-datareader

In [60]:
import datetime
import pandas_datareader.data as web

#datetime is a great way to transform time into various formats, especially for timeseries data
end = datetime.datetime(2024, 1, 27)

start = datetime.datetime(2018, 1, 1)

#Gdp
gdp = web.DataReader('GDP', 'fred', start, end)

inflation = web.DataReader(['CPIAUCSL', 'CPILFESL'], 'fred', start, end)

## Merging

Often you'll want to combine datasets. Typically, you will pool together a variety of datasets into one dataframe.

Currently we have two dataframes: wjp and ineq

We will merge the two. There are different ways that you can merge.

Other "adding together" dataframes include: `pd.append()` (hey you know that!) and `pd.concat()`

They can be useful in different scenarios.

By far, though, `pd.merge()` is your BFF.

In [71]:
wjp

,Country,Region,Income Group,isocode,year,id,isocode.1,factor1,f1.2 Government powers are effectively limited by the legislature,f1.3 Government powers are effectively limited by the judiciary,...,f7.6 Civil justice is effectively enforced,"f7.7 ADRs are accessible, impartial, and effective",factor8,f8.1 Criminal investigation system is effective,f8.2 Criminal adjudication system is timely and effective,f8.3 Correctional system is effective in reducing criminal behavior,f8.4 Criminal system is impartial,f8.5 Criminal system is free of corruption,f8.6 Criminal system is free of improper government influence,f8.7 Due process of law and rights of the accused
0,Albania,Eastern Europe & Central Asia,Lower middle income,ALB,2012,ALB2012,ALB,0.46,0.57,0.34,...,0.58,0.69,0.41,0.33,0.42,0.39,0.49,0.32,0.41,0.51
1,Argentina,Latin America & Caribbean,Upper middle income,ARG,2012,ARG2012,ARG,0.46,0.50,0.39,...,0.34,0.70,0.43,0.30,0.32,0.32,0.59,0.47,0.46,0.58
2,Australia,East Asia & Pacific,High income,AUS,2012,AUS2012,AUS,0.88,0.91,0.88,...,0.77,0.85,0.72,0.56,0.62,0.65,0.60,0.89,0.94,0.81
3,Austria,Western Europe & North America,High income,AUT,2012,AUT2012,AUT,0.82,0.88,0.80,...,0.79,0.94,0.75,0.64,0.75,0.70,0.64,0.86,0.85,0.80
4,Bangladesh,South Asia,Low income,BGD,2012,BGD2012,BGD,0.40,0.52,0.41,...,0.27,0.40,0.38,0.47,0.42,0.29,0.45,0.32,0.40,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uzbekistan,Eastern Europe & Central Asia,Lower middle income,UZB,2012,UZB2012,UZB,0.24,0.05,0.19,...,0.51,0.66,0.36,0.58,0.51,0.35,0.37,0.29,0.15,0.25
93,Venezuela,Latin America & Caribbean,Upper middle income,VEN,2012,VEN2012,VEN,0.25,0.29,0.23,...,0.20,0.57,0.24,0.36,0.20,0.05,0.27,0.30,0.23,0.25
94,Vietnam,East Asia & Pacific,Lower middle income,VNM,2012,VNM2012,VNM,0.40,0.33,0.28,...,0.39,0.64,0.57,0.60,0.65,0.57,0.70,0.52,0.36,0.59
95,Zambia,Sub-Saharan Africa,Lower middle income,ZMB,2012,ZMB2012,ZMB,0.51,0.53,0.35,...,0.47,0.77,0.37,0.51,0.41,0.15,0.42,0.39,0.34,0.35
96,Zimbabwe,Sub-Saharan Africa,Low income,ZWE,2012,ZWE2012,ZWE,0.25,0.36,0.29,...,0.48,0.54,0.43,0.58,0.49,0.36,0.57,0.29,0.44,0.30

In [90]:
# First, I need to take a look at the column names and see what I want to merge by. In this case it is country.
pd.merge(wjp, ineq, left_on=['Country','year'],
         right_on=['country','year'], how='left')

,Country,Region,Income Group,isocode,year,id,isocode.1,factor1,f1.2 Government powers are effectively limited by the legislature,f1.3 Government powers are effectively limited by the judiciary,...,population,databasesource,sharetop1,sharetop5,source1,sqcoeffvariation,surveysource2,surveyyears,consumptionsurvey,theil
0,Albania,Eastern Europe & Central Asia,Lower middle income,ALB,2012,ALB2012,ALB,0.46,0.57,0.34,...,2900489.0,Povcalnet,NaN,NaN,NaN,0.445148,NaN,1.0,1.0,0.341171
1,Argentina,Latin America & Caribbean,Upper middle income,ARG,2012,ARG2012,ARG,0.46,0.50,0.39,...,42095224.0,SEDLAC,NaN,NaN,NaN,0.326036,EPH Continua,1.0,0.0,0.280900
2,Australia,East Asia & Pacific,High income,AUS,2012,AUS2012,AUS,0.88,0.91,0.88,...,22728254.0,NaN,NaN,NaN,NaN,0.218408,NaN,0.0,NaN,0.190810
3,Austria,Western Europe & North America,High income,AUT,2012,AUT2012,AUT,0.82,0.88,0.80,...,8429991.0,Povcalnet,NaN,NaN,NaN,0.157741,NaN,1.0,0.0,0.144842
4,Bangladesh,South Asia,Low income,BGD,2012,BGD2012,BGD,0.40,0.52,0.41,...,155000000.0,NaN,NaN,NaN,NaN,0.428262,NaN,0.0,NaN,0.329219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uzbekistan,Eastern Europe & Central Asia,Lower middle income,UZB,2012,UZB2012,UZB,0.24,0.05,0.19,...,29774500.0,NaN,NaN,NaN,NaN,0.507771,NaN,0.0,NaN,0.379520
93,Venezuela,Latin America & Caribbean,Upper middle income,VEN,2012,VEN2012,VEN,0.25,0.29,0.23,...,29854238.0,NaN,NaN,NaN,NaN,0.373627,NaN,0.0,NaN,0.304334
94,Vietnam,East Asia & Pacific,Lower middle income,VNM,2012,VNM2012,VNM,0.40,0.33,0.28,...,88772900.0,Povcalnet,NaN,NaN,NaN,0.594885,NaN,1.0,1.0,0.443488
95,Zambia,Sub-Saharan Africa,Lower middle income,ZMB,2012,ZMB2012,ZMB,0.51,0.53,0.35,...,14786581.0,NaN,NaN,NaN,NaN,1.151980,NaN,0.0,NaN,0.753847
96,Zimbabwe,Sub-Saharan Africa,Low income,ZWE,2012,ZWE2012,ZWE,0.25,0.36,0.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

OK! What happened? What is this wizardry?

 The first two are the dataframes you want to merge. Only two can be merged at a time.
 
left_on is the key that will match with the left dataframe
right_on is the key that will match with the right dataframe
pandas merge will look for EXACT matched between the keys

how it matches depends onthe argument "how"

In this example, it will only look at the keys on the left and will match with items on the right so long as it is in the key of the left

By default merge does an 'inner' join; the keys in the result are the intersection (if you didn't put "how"). In general, don't ever rely on the default. You'll lose stuff - be aware of how you merge.

There are four ways to join
<img src ="merge_joins.png">

Remember union vs. intersection
<img src ="uion_intersection.png">

Or more succinctly: 

<img src ="joins.jpeg">

From this [great website](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) to check out 

And also this [great website](https://www.shanelynn.ie/merge-join-dataframes-python-pandas-index-1/)

Which we will do right now.


<img src = "merge_options.png">
From P4DS

### Pandas + Stuff

Everything you learned so far can be applied to your dataframe. EVERYTHING.

Which means, this is the part of the class where you will go in breakout groups and be totally lost for like 5-10 minutes and then figure out how to do it. 

First, some hints.

In [13]:
wjp_ineq = pd.merge(wjp, ineq, left_on=['Country','year'],
                    right_on=['country','year'],how='left')

In [14]:
wjp_ineq.columns

Index(['Country', 'Region', 'Income Group', 'isocode', 'year', 'id',
       'isocode.1', 'factor1',
       'f1.2 Government powers are effectively limited by the legislature',
       'f1.3 Government powers are effectively limited by the judiciary',
       ...
       'population', 'databasesource', 'sharetop1', 'sharetop5', 'source1',
       'sqcoeffvariation', 'surveysource2', 'surveyyears', 'consumptionsurvey',
       'theil'],
      dtype='object', length=114)

In [15]:
#filter 
data = wjp_ineq[['Country', 'Region','Income Group', 'year', 'isocode',
                 'factor1', 'factor2','factor3','factor4', 'factor5','factor6',
                 'factor7','factor8','gini','theil','population']]

#this filters in the same way that we have seen filtering in the past

# when I import and merge, I usually leave the original variable the same 
# so that I can always reference it if I make a mistake in merging or something else

#The double brackets mean, keep everything that is within the identified columns. You choose the columns.

In [16]:
data

,Country,Region,Income Group,year,isocode,factor1,factor2,factor3,factor4,factor5,factor6,factor7,factor8,gini,theil,population
0,Albania,Eastern Europe & Central Asia,Lower middle income,2012,ALB,0.46,0.31,0.73,0.63,0.44,0.43,0.51,0.41,0.454301,0.341171,2900489.0
1,Argentina,Latin America & Caribbean,Upper middle income,2012,ARG,0.46,0.47,0.60,0.63,0.48,0.43,0.54,0.43,0.419769,0.280900,42095224.0
2,Australia,East Asia & Pacific,High income,2012,AUS,0.88,0.90,0.86,0.84,0.84,0.83,0.72,0.72,0.347525,0.190810,22728254.0
3,Austria,Western Europe & North America,High income,2012,AUT,0.82,0.77,0.89,0.82,0.80,0.84,0.74,0.75,0.303947,0.144842,8429991.0
4,Bangladesh,South Asia,Low income,2012,BGD,0.40,0.29,0.62,0.43,0.35,0.36,0.32,0.38,0.431937,0.329219,155000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Uzbekistan,Eastern Europe & Central Asia,Lower middle income,2012,UZB,0.24,0.30,0.89,0.34,0.36,0.46,0.49,0.36,0.460921,0.379520,29774500.0
93,Venezuela,Latin America & Caribbean,Upper middle income,2012,VEN,0.25,0.32,0.51,0.48,0.36,0.33,0.38,0.24,0.433430,0.304334,29854238.0
94,Vietnam,East Asia & Pacific,Lower middle income,2012,VNM,0.40,0.43,0.82,0.48,0.35,0.39,0.43,0.57,0.498665,0.443488,88772900.0
95,Zambia,Sub-Saharan Africa,Lower middle income,2012,ZMB,0.51,0.44,0.67,0.41,0.39,0.41,0.46,0.37,0.635562,0.753847,14786581.0
96,Zimbabwe,Sub-Saharan Africa,Low income,2012,ZWE,0.25,0.26,0.59,0.31,0.24,0.35,0.40,0.43,NaN,NaN,NaN

In [17]:
# I can list out the unique values of any column
wjp_ineq['Country'].unique()

array(['Albania', 'Argentina', 'Australia', 'Austria', 'Bangladesh',
       'Belarus', 'Belgium', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Cambodia',
       'Cameroon', 'Canada', 'Chile', 'China', 'Colombia',
       "Cote d'Ivoire", 'Croatia', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Hong Kong SAR, China', 'Hungary', 'India',
       'Indonesia', 'Iran', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Lebanon', 'Liberia',
       'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mexico',
       'Moldova', 'Mongolia', 'Morocco', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Nigeria', 'Norway', 'Pakistan',
       'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Republic of Korea', 'Romania', 'Russia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovenia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sweden', 'Tanzania', 'Thailand', 'Tunisia', 'Turkey',
       'United Arab Emirates', 'Uganda', 'Ukraine', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
wjp_ineq['Country'].nunique()
#or count them

97

In [19]:
#And filter
data[data['Country']=='Uruguay']

#filtering is the same way I have been showing you all along - boolean searches/ 
# You can filter by values as well or anything that I taught you before 
# (just be sure it's the same type)

,Country,Region,Income Group,year,isocode,factor1,factor2,factor3,factor4,factor5,factor6,factor7,factor8,gini,theil,population
91,Uruguay,Latin America & Caribbean,Upper middle income,2012,URY,0.7,0.78,0.7,0.75,0.62,0.71,0.71,0.5,0.414604,0.274235,3396753.0

In [20]:
data[data['gini']>.3]

,Country,Region,Income Group,year,isocode,factor1,factor2,factor3,factor4,factor5,factor6,factor7,factor8,gini,theil,population
0,Albania,Eastern Europe & Central Asia,Lower middle income,2012,ALB,0.46,0.31,0.73,0.63,0.44,0.43,0.51,0.41,0.454301,0.341171,2900489.0
1,Argentina,Latin America & Caribbean,Upper middle income,2012,ARG,0.46,0.47,0.60,0.63,0.48,0.43,0.54,0.43,0.419769,0.280900,42095224.0
2,Australia,East Asia & Pacific,High income,2012,AUS,0.88,0.90,0.86,0.84,0.84,0.83,0.72,0.72,0.347525,0.190810,22728254.0
3,Austria,Western Europe & North America,High income,2012,AUT,0.82,0.77,0.89,0.82,0.80,0.84,0.74,0.75,0.303947,0.144842,8429991.0
4,Bangladesh,South Asia,Low income,2012,BGD,0.40,0.29,0.62,0.43,0.35,0.36,0.32,0.38,0.431937,0.329219,155000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Uruguay,Latin America & Caribbean,Upper middle income,2012,URY,0.70,0.78,0.70,0.75,0.62,0.71,0.71,0.50,0.414604,0.274235,3396753.0
92,Uzbekistan,Eastern Europe & Central Asia,Lower middle income,2012,UZB,0.24,0.30,0.89,0.34,0.36,0.46,0.49,0.36,0.460921,0.379520,29774500.0
93,Venezuela,Latin America & Caribbean,Upper middle income,2012,VEN,0.25,0.32,0.51,0.48,0.36,0.33,0.38,0.24,0.433430,0.304334,29854238.0
94,Vietnam,East Asia & Pacific,Lower middle income,2012,VNM,0.40,0.43,0.82,0.48,0.35,0.39,0.43,0.57,0.498665,0.443488,88772900.0
95,Zambia,Sub-Saharan Africa,Lower middle income,2012,ZMB,0.51,0.44,0.67,0.41,0.39,0.41,0.46,0.37,0.635562,0.753847,14786581.0

In [21]:
# or any of the numpy functions
wjp_ineq['gini'].mean()

0.45014966333333334

There is a a format to using pandas to grab columns of filtering
`data[['column1','column4','column5']]` 

This is saying, get me the columns in this list of this dataframe called data

`data[data['column1']=='item']`

This is asking for one column in a dataframe and do a boolean search within this column and find things that are equal to `item`

`data[data.column1=='item1]`

We can also ask for information within a column by calling its series


Columns in pandas are also called series.

In [22]:
# We can get fancy in our filtering and cleaning data

#for each cell in this object I have, data, find strings that contain 
#the values 'factor'  and store that information in factor_frame
factor_frame = [x for x in list(data) if x.startswith('factor')]
#here's another way to do the same thing
factor_frame = [x for x in list(data) if 'factor' in x]

# Here's a subset of the data using the list we created from our loop
#We want to include a few other columns besides factor by using extend 
#to add items in the list we created
factor_frame.extend(['Country', 'Income Group', 'Region', 'gini', 'population'])

factor_frame = data[factor_frame]

In [23]:
#How many countries? (temporarily store this value for future use)
nc = data['isocode'].nunique()
#How many observations? 
print('Number of Observations in ds:', len(data)) #print in the output with string and some information you just calculated in your output box
#How many years? 
print('Number of years in ds:', data['year'].nunique())
#drop a column that is unneeded
c = data.drop(['year'],1)

Number of Observations in ds: 97
Number of years in ds: 1

<ipython-input-23-f2f502940aca>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  c = data.drop(['year'],1)

In [24]:
#dropping rows instead of columns
#resetting index to Region so that I can drop all rows in the index that are 'Eastern Europe & Central Asia'
c = c.set_index('Region')
c.drop(['Eastern Europe & Central Asia'],axis = 0)

,Country,Income Group,isocode,factor1,factor2,factor3,factor4,factor5,factor6,factor7,factor8,gini,theil,population
Region,,,,,,,,,,,,,,
Latin America & Caribbean,Argentina,Upper middle income,ARG,0.46,0.47,0.60,0.63,0.48,0.43,0.54,0.43,0.419769,0.280900,42095224.0
East Asia & Pacific,Australia,High income,AUS,0.88,0.90,0.86,0.84,0.84,0.83,0.72,0.72,0.347525,0.190810,22728254.0
Western Europe & North America,Austria,High income,AUT,0.82,0.77,0.89,0.82,0.80,0.84,0.74,0.75,0.303947,0.144842,8429991.0
South Asia,Bangladesh,Low income,BGD,0.40,0.29,0.62,0.43,0.35,0.36,0.32,0.38,0.431937,0.329219,155000000.0
Western Europe & North America,Belgium,High income,BEL,0.78,0.78,0.84,0.81,0.67,0.70,0.68,0.72,0.275339,0.119016,11128246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Latin America & Caribbean,Uruguay,Upper middle income,URY,0.70,0.78,0.70,0.75,0.62,0.71,0.71,0.50,0.414604,0.274235,3396753.0
Latin America & Caribbean,Venezuela,Upper middle income,VEN,0.25,0.32,0.51,0.48,0.36,0.33,0.38,0.24,0.433430,0.304334,29854238.0
East Asia & Pacific,Vietnam,Lower middle income,VNM,0.40,0.43,0.82,0.48,0.35,0.39,0.43,0.57,0.498665,0.443488,88772900.0
Sub-Saharan Africa,Zambia,Lower middle income,ZMB,0.51,0.44,0.67,0.41,0.39,0.41,0.46,0.37,0.635562,0.753847,14786581.0
Sub-Saharan Africa,Zimbabwe,Low income,ZWE,0.25,0.26,0.59,0.31,0.24,0.35,0.40,0.43,NaN,NaN,NaN

In [25]:
# I can also reset indexes
c = c.reset_index()

In [26]:
factor_frame['total'] = factor_frame['factor1']+factor_frame['factor2'] +factor_frame['factor3']+factor_frame['factor4']+factor_frame['factor5']+factor_frame['factor6']+factor_frame['factor7']+factor_frame['factor8']
# create a variable that adds up all of the factors        
factor_frame['factor_avg'] =  factor_frame['total'].mean()  #create a new variable with the mean of the toal
# factor_frame['total'] = factor_frame['total'].astype(float) #store the column total as a floar
# factor_frame = factor_frame.drop(['total'],1) #drop the column total

<ipython-input-26-1d3dcba3c0ad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  factor_frame['total'] = factor_frame['factor1']+factor_frame['factor2'] +factor_frame['factor3']+factor_frame['factor4']+factor_frame['factor5']+factor_frame['factor6']+factor_frame['factor7']+factor_frame['factor8']
<ipython-input-26-1d3dcba3c0ad>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  factor_frame['factor_avg'] =  factor_frame['total'].mean()  #create a new variable with the mean of the toal

In [27]:
factor_frame
factor_frame = factor_frame.drop(['factor_avg'],1)
factor_frame

<ipython-input-27-27226bf78612>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  factor_frame = factor_frame.drop(['factor_avg'],1)

,factor1,factor2,factor3,factor4,factor5,factor6,factor7,factor8,Country,Income Group,Region,gini,population,total
0,0.46,0.31,0.73,0.63,0.44,0.43,0.51,0.41,Albania,Lower middle income,Eastern Europe & Central Asia,0.454301,2900489.0,3.92
1,0.46,0.47,0.60,0.63,0.48,0.43,0.54,0.43,Argentina,Upper middle income,Latin America & Caribbean,0.419769,42095224.0,4.04
2,0.88,0.90,0.86,0.84,0.84,0.83,0.72,0.72,Australia,High income,East Asia & Pacific,0.347525,22728254.0,6.59
3,0.82,0.77,0.89,0.82,0.80,0.84,0.74,0.75,Austria,High income,Western Europe & North America,0.303947,8429991.0,6.43
4,0.40,0.29,0.62,0.43,0.35,0.36,0.32,0.38,Bangladesh,Low income,South Asia,0.431937,155000000.0,3.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.24,0.30,0.89,0.34,0.36,0.46,0.49,0.36,Uzbekistan,Lower middle income,Eastern Europe & Central Asia,0.460921,29774500.0,3.44
93,0.25,0.32,0.51,0.48,0.36,0.33,0.38,0.24,Venezuela,Upper middle income,Latin America & Caribbean,0.433430,29854238.0,2.87
94,0.40,0.43,0.82,0.48,0.35,0.39,0.43,0.57,Vietnam,Lower middle income,East Asia & Pacific,0.498665,88772900.0,3.87
95,0.51,0.44,0.67,0.41,0.39,0.41,0.46,0.37,Zambia,Lower middle income,Sub-Saharan Africa,0.635562,14786581.0,3.66
96,0.25,0.26,0.59,0.31,0.24,0.35,0.40,0.43,Zimbabwe,Low income,Sub-Saharan Africa,NaN,NaN,2.83

In [29]:
# We can also create a series of dummies from data (such as categorical data)
income_dummies = pd.get_dummies(factor_frame['Income Group'])

#and after learning how to merge, you can merge this data back in

    High income  Low income  Lower middle income  Upper middle income
0             0           0                    1                    0
1             0           0                    0                    1
2             1           0                    0                    0
3             1           0                    0                    0
4             0           1                    0                    0
..          ...         ...                  ...                  ...
92            0           0                    1                    0
93            0           0                    0                    1
94            0           0                    1                    0
95            0           0                    1                    0
96            0           1                    0                    0

[97 rows x 4 columns]

In [36]:
factor_frame['gini'].describe()

count    90.000000
mean      0.450150
std       0.104721
min       0.255701
25%       0.358753
50%       0.458508
75%       0.522544
max       0.662355
Name: gini, dtype: float64

In [46]:
import numpy as np
# Another useful technique to clean data or edit data is using the np.where() function which allows replacements with T/F statements
factor_frame['gini category'] = np.where(factor_frame['gini']>=.6, 'High', factor_frame['gini category'])
factor_frame['gini category'] = np.where((factor_frame['gini']<.6) & (factor_frame['gini']>.36) , 'Med', factor_frame['gini category'])
factor_frame['gini category'] = np.where(factor_frame['gini']<=.35, 'Low', factor_frame['gini category'])

# df['new column name'] = np.where(condition to meet, if true the value it will be replaced with, if false the value it will have )

In [48]:
#checking that I categorized everything
factor_frame[factor_frame['gini category'].isnull()]

Empty DataFrame
Columns: [factor1, factor2, factor3, factor4, factor5, factor6, factor7, factor8, Country, Income Group, Region, gini, population, total, gini cateogory, gini category]
Index: []

## Exporting

We can easily export dataframes at any time with:

`df.to_csv(filename.csv)`


I almost always use the option argument of index to set it to false. Typically, I don't need to index to travel

`dataframe.to_csv('filename.csv', index = False)`

In [153]:
pwd

'/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds'

In [154]:
factor_frame.to_csv(ds+'wjp_test_2024.csv')

In [ ]:
cd '/Users/mkaltenberg/Documents/Data Analysis Python R Lectures/'

In [ ]:
pwd

In [ ]:
# this will export to the file location that you are currently in.
# So, be careful - know where you are in your directory.
factor_frame.to_csv('factors_frame_avg.csv',index=False)

## I hope all of that time spent on python functions are coming together for some magic.

### Now it's your turn!

<img src ='https://media.giphy.com/media/citBl9yPwnUOs/giphy.gif' width = 300>

More useful tips from pandas at this [website](https://www.dataschool.io/python-pandas-tips-and-tricks/#readingfiles)

## Breakout Groups

In [ ]:
# practice exercise
# get to this point:

wjp = pd.read_csv('wjp.csv') 
ineq = pd.read_csv('ineq.csv') 
wjp_ineq = pd.merge(wjp, ineq, left_on=['Country','year'],
                    right_on=['country','year'],how='left')

1. Filter out the dataset to show only data from the region 'Sub-Saharan Africa'
2. How many countries are in the region?
3. Calculate the average gini of the region.
4. What's the maximum population in the region? What's the countries name?
5. Can you do a for loop that can do this calculation for all of the regions?
6. Export the filtered dataset of 1 (only countries that are from the region)

# Part Two

You are here
<img src ='https://media.giphy.com/media/M20nEvEm4H4Gs/giphy.gif'>

Let's get you here

<img src = 'https://media.giphy.com/media/fHijFIbCYdRrNjLZkW/giphy.gif' width = 300>

### Concat and Append

What if you have multiple files and you need to combine them to work in one dataframe?

We can use the function `pd.concat()` to attach dataframes together.

Concat is similar to merging, but you are often merging this without keys (you merge along an axis)

Note: we are going to go advanced here. I will show you a few problems that this example has and work through them with you on how to problem solve.

A useful reference on these differences and all about merging, concat and appending is on the pandas documentation site [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

In [155]:
# you can set the pathway
path_firm ='/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/firm_size_state_industry/'

In [160]:
cd '/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/firm_size_state_industry/'

/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/firm_size_state_industry

In [157]:
pwd

'/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds'

In [161]:
#even fancier - you can find out what files are in the current folder you are in
!ls

us_state_6digitnaics_2007.txt us_state_6digitnaics_2013.txt
us_state_6digitnaics_2008.txt us_state_6digitnaics_2014.txt
us_state_6digitnaics_2009.txt us_state_6digitnaics_2015.txt
us_state_6digitnaics_2010.txt us_state_6digitnaics_2016.txt
us_state_6digitnaics_2011.txt us_state_6digitnaics_2017.txt
us_state_6digitnaics_2012.txt

In [162]:
# Let's take an example of multiple files 
# and years of firm number by state data.
import pandas as pd
#First, let's read the data and see what it looks like
pd.read_csv(str(path_firm)+'us_state_6digitnaics_2015.txt', encoding = 'latin1')

,STATE,NAICS,ENTRSIZE,FIRM,ESTB,EMPL_N,EMPLFL_R,EMPLFL_N,PAYR_N,PAYRFL_N,STATEDSCR,NAICSDSCR,entrsizedscr
0,0,--,1,5900731,7663938,124085947,NaN,G,6253488252,G,United States,Total,01: Total
1,0,--,2,3643737,3649989,5877075,NaN,G,263152063,G,United States,Total,02: 0-4
2,0,--,3,1004555,1016287,6614340,NaN,G,243719141,G,United States,Total,03: 5-9
3,0,--,4,617390,648694,8297864,NaN,G,321846938,G,United States,Total,04: 10-19
4,0,--,5,5265682,5314970,20789279,NaN,G,828718142,G,United States,Total,05: <20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727587,56,99,2,74,74,80,NaN,G,2072,G,Wyoming,Industries not classified,02: 0-4
727588,56,99,3,4,4,20,NaN,G,262,H,Wyoming,Industries not classified,03: 5-9
727589,56,99,4,1,1,0,A,D,0,D,Wyoming,Industries not classified,04: 10-19
727590,56,99,5,79,79,117,NaN,H,2408,G,Wyoming,Industries not classified,05: <20
727591,56,99,8,79,79,117,NaN,H,2408,G,Wyoming,Industries not classified,08: <500

In [163]:
#let's build a for loop to look through these files and to append them
path_firm ='/Users/mkaltenberg/Documents/GitHub/Data_Analysis_Python_R/Lets get this data started  Pandas/ds/firm_size_state_industry/'
# defining the pathname for this exercise
out =[] # Creating an empty list

for y in range(2007,2018): #looping through years because the file structure is the same except for the year
    data = pd.read_csv(str(path_firm)+'us_state_6digitnaics_'+str(y)+'.txt',encoding='latin1')
    # reading the data, encoding it in latin1
    out.append(data)
out

[        STATE NAICS  ENTRSIZE     FIRM     ESTB       EMPL EMPLFL_R EMPLFL_N  \
 0           0    --         1  6049655  7705018  120604265      NaN        G
 1           0    --         2  3705275  3710700    6139463      NaN        G
 2           0    --         3  1060250  1073875    6974591      NaN        G
 3           0    --         4   644842   682410    8656182      NaN        G
 4           0    --         5  5410367  5466985   21770236      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 762659     56    99         2       39       39         31      NaN        G
 762660     56    99         3        5        5          0        B        S
 762661     56    99         4        1        1          0        A        D
 762662     56    99         5       45       45          0        B        S
 762663     56    99         8       45       45          0        B        S

               PAYR PAYRFL_N         RCPT RCPTFL_N      STATEDSCR  \
 0       5026778232        G  29746741904        G  United States
 1        234921325        G   1434680823        G  United States
 2        222419546        G   1144930232        G  United States
 3        292088277        G   1395498431        G  United States
 4        749429148        G   3975109486        G  United States
 ...            ...      ...          ...      ...            ...
 762659         705        G         4488        G        Wyoming
 762660         498        G         2995        G        Wyoming
 762661           0        D            0        D        Wyoming
 762662        1442        H         9000        G        Wyoming
 762663        1442        H         9000        G        Wyoming

            NAICSDSCR ENTRSIZEDSCR
 0              Total        Total
 1              Total          0-4
 2              Total          5-9
 3              Total        10-19
 4              Total          <20
 ...              ...          ...
 762659  Unclassified          0-4
 762660  Unclassified          5-9
 762661  Unclassified        10-19
 762662  Unclassified          <20
 762663  Unclassified         <500

 [762664 rows x 15 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB       EMPL EMPLFL_R EMPLFL_N  \
 0           0    --         1  5930132  7601169  120903551      NaN        G
 1           0    --         2  3617764  3624614    6086291      NaN        G
 2           0    --         3  1044065  1056947    6878051      NaN        G
 3           0    --         4   633141   667463    8497391      NaN        G
 4           0    --         5  5294970  5349024   21461733      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 752998     56    99         2       45       45         37      NaN        H
 752999     56    99         3        1        1          0        A        D
 753000     56    99         4        1        1          0        A        D
 753001     56    99         5       47       47         59      NaN        G
 753002     56    99         8       47       47         59      NaN        G

               PAYR PAYRFL_N      STATEDSCR                  NAICSDSCR  \
 0       5130509178        G  United States                      Total
 1        232062907        G  United States                      Total
 2        222504912        G  United States                      Total
 3        293534352        G  United States                      Total
 4        748102171        G  United States                      Total
 ...            ...      ...            ...                        ...
 752998        1193        G        Wyoming  Industries not classified
 752999           0        D        Wyoming  Industries not classified
 753000           0        D        Wyoming  Industries not classified
 753001        1524        H        Wyoming  Industries not classified
 753002        1524        H        Wyoming  Industries not classified

        ENTRSIZEDSCR
 0             Total
 1               0-4
 2               5-9
 3             10-19
 4               <20
 ...             ...
 752998          0-4
 752999          5-9
 753000        10-19
 753001          <20
 753002         <500

 [753003 rows x 13 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB       EMPL EMPLFL_R EMPLFL_N  \
 0           0    --         1  5767306  7433465  114509626      NaN        G
 1           0    --         2  3558708  3565433    5966190      NaN        G
 2           0    --         3  1001313  1015178    6580830      NaN        G
 3           0    --         4   610777   646145    8191289      NaN        G
 4           0    --         5  5170798  5226756   20738309      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 748616     56    99         3        3        3          0        B        D
 748617     56    99         4        1        1          0        A        D
 748618     56    99         5       51       51         78      NaN        G
 748619     56    99         6        2        2          0        B        D
 748620     56    99         8       53       53        124      NaN        G

               PAYR PAYRFL_N      STATEDSCR                  NAICSDSCR  \
 0       4855545239        G  United States                      Total
 1        219913105        G  United States                      Total
 2        212718822        G  United States                      Total
 3        278321099        G  United States                      Total
 4        710953026        G  United States                      Total
 ...            ...      ...            ...                        ...
 748616           0        D        Wyoming  Industries not classified
 748617           0        D        Wyoming  Industries not classified
 748618        1563        G        Wyoming  Industries not classified
 748619           0        D        Wyoming  Industries not classified
 748620        1632        G        Wyoming  Industries not classified

        ENTRSIZEDSCR
 0             Total
 1               0-4
 2               5-9
 3             10-19
 4               <20
 ...             ...
 748616          5-9
 748617        10-19
 748618          <20
 748619        20-99
 748620         <500

 [748621 rows x 13 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB       EMPL EMPLFL_R EMPLFL_N  \
 0           0    --         1  5734538  7396628  111970095      NaN        G
 1           0    --         2  3575240  3582826    5926452      NaN        G
 2           0    --         3   968075   982019    6358931      NaN        G
 3           0    --         4   617089   652662    8288385      NaN        G
 4           0    --         5  5160404  5217507   20573768      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 746642     56    99         1       58       58         67      NaN        G
 746643     56    99         2       56       56          0        B        S
 746644     56    99         4        2        2          0        B        D
 746645     56    99         5       58       58         67      NaN        G
 746646     56    99         8       58       58         67      NaN        G

               PAYR PAYRFL_N      STATEDSCR                  NAICSDSCR  \
 0       4940983369        G  United States                      Total
 1        226541056        G  United States                      Total
 2        212039611        G  United States                      Total
 3        283246473        G  United States                      Total
 4        721827140        G  United States                      Total
 ...            ...      ...            ...                        ...
 746642        1650        H        Wyoming  Industries not classified
 746643        1375        H        Wyoming  Industries not classified
 746644           0        D        Wyoming  Industries not classified
 746645        1650        H        Wyoming  Industries not classified
 746646        1650        H        Wyoming  Industries not classified

        ENTRSIZEDSCR
 0             Total
 1               0-4
 2               5-9
 3             10-19
 4               <20
 ...             ...
 746642        Total
 746643          0-4
 746644        10-19
 746645          <20
 746646         <500

 [746647 rows x 13 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB     EMPL_N EMPLFL_R EMPLFL_N  \
 0           0    --         1  5684424  7354043  113425965      NaN        G
 1           0    --         2  3532058  3540155    5857662      NaN        G
 2           0    --         3   978993   993101    6431931      NaN        G
 3           0    --         4   592963   626981    7961281      NaN        G
 4           0    --         5  5104014  5160237   20250874      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 746136     56    99         2       53       53          0        B        S
 746137     56    99         3        3        3          0        A        D
 746138     56    99         4        1        1          0        A        D
 746139     56    99         5       57       57         75      NaN        H
 746140     56    99         8       57       57         75      NaN        H

             PAYR_N PAYRFL_N      STATEDSCR                  NAICSDSCR  \
 0       5164897905        G  United States                      Total
 1        230422086        G  United States                      Total
 2        218085669        G  United States                      Total
 3        284251614        G  United States                      Total
 4        732759369        G  United States                      Total
 ...            ...      ...            ...                        ...
 746136         820        H        Wyoming  Industries not classified
 746137           0        D        Wyoming  Industries not classified
 746138           0        D        Wyoming  Industries not classified
 746139        1356        G        Wyoming  Industries not classified
 746140        1356        G        Wyoming  Industries not classified

        ENTRSIZEDSCR
 0             Total
 1               0-4
 2               5-9
 3             10-19
 4               <20
 ...             ...
 746136          0-4
 746137          5-9
 746138        10-19
 746139          <20
 746140         <500

 [746141 rows x 13 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB     EMPL_N EMPLFL_R EMPLFL_N  \
 0           0    --         1  5726160  7431808  115938468      NaN        G
 1           0    --         2  3543991  3549102    5906506      NaN        G
 2           0    --         3   992716  1005042    6527943      NaN        G
 3           0    --         4   593641   630811    7974340      NaN        G
 4           0    --         5  5130348  5184955   20408789      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 728708     56    99         2       30       30          0        A        S
 728709     56    99         3        2        2          0        A        D
 728710     56    99         4        1        1          0        A        D
 728711     56    99         5       33       33         40      NaN        H
 728712     56    99         8       33       33         40      NaN        H

             PAYR_N PAYRFL_N       RCPT_N RCPTFL_N      STATEDSCR  \
 0       5414255995        G  32637809977        G  United States
 1        237897059        G   1442441113        G  United States
 2        224438258        G   1148667880        G  United States
 3        290990699        G   1403816975        G  United States
 4        753326016        G   3994925968        G  United States
 ...            ...      ...          ...      ...            ...
 728708         409        G         2658        G        Wyoming
 728709           0        D            0        D        Wyoming
 728710           0        D            0        D        Wyoming
 728711        1178        G         7474        G        Wyoming
 728712        1178        G         7474        G        Wyoming

                         NAICSDSCR ENTRSIZEDSCR
 0                           Total        Total
 1                           Total          0-4
 2                           Total          5-9
 3                           Total        10-19
 4                           Total          <20
 ...                           ...          ...
 728708  Industries not classified          0-4
 728709  Industries not classified          5-9
 728710  Industries not classified        10-19
 728711  Industries not classified          <20
 728712  Industries not classified         <500

 [728713 rows x 15 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB     EMPL_N EMPLFL_R EMPLFL_N  \
 0           0    --         1  5775055  7488353  118266253      NaN        G
 1           0    --         2  3575290  3580637    5926660      NaN        G
 2           0    --         3   992281  1003971    6523516      NaN        G
 3           0    --         4   600551   634233    8058077      NaN        G
 4           0    --         5  5168122  5218841   20508253      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 727400     56    99         2       49       49         37      NaN        H
 727401     56    99         3        1        1          0        A        D
 727402     56    99         4        1        1          0        A        D
 727403     56    99         5       51       51         55      NaN        H
 727404     56    99         8       51       51         55      NaN        H

             PAYR_N PAYRFL_N      STATEDSCR                  NAICSDSCR  \
 0       5621697325        G  United States                      Total
 1        241347624        G  United States                      Total
 2        228080290        G  United States                      Total
 3        297246083        G  United States                      Total
 4        766673997        G  United States                      Total
 ...            ...      ...            ...                        ...
 727400        1488        H        Wyoming  Industries not classified
 727401           0        D        Wyoming  Industries not classified
 727402           0        D        Wyoming  Industries not classified
 727403        2059        G        Wyoming  Industries not classified
 727404        2059        G        Wyoming  Industries not classified

        entrsizedscr
 0        01:  Total
 1          02:  0-4
 2          03:  5-9
 3        04:  10-19
 4          05:  <20
 ...             ...
 727400     02:  0-4
 727401     03:  5-9
 727402   04:  10-19
 727403     05:  <20
 727404    08:  <500

 [727405 rows x 13 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB     EMPL_N EMPLFL_R EMPLFL_N  \
 0           0    --         1  5825458  7563084  121069944      NaN        G
 1           0    --         2  3598185  3603935    5940248      NaN        G
 2           0    --         3   998953  1010467    6570776      NaN        G
 3           0    --         4   608502   641096    8176519      NaN        G
 4           0    --         5  5205640  5255498   20687543      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 727307     56    99         2       55       55         46      NaN        G
 727308     56    99         3        2        2          0        A        D
 727309     56    99         4        2        2          0        B        D
 727310     56    99         5       59       59         87      NaN        G
 727311     56    99         8       59       59         87      NaN        G

             PAYR_N PAYRFL_N      STATEDSCR                  NAICSDSCR  \
 0       5940186911        G  United States                      Total
 1        251757114        G  United States                      Total
 2        235546762        G  United States                      Total
 3        309924445        G  United States                      Total
 4        797228321        G  United States                      Total
 ...            ...      ...            ...                        ...
 727307        1583        G        Wyoming  Industries not classified
 727308           0        D        Wyoming  Industries not classified
 727309           0        D        Wyoming  Industries not classified
 727310        2319        G        Wyoming  Industries not classified
 727311        2319        G        Wyoming  Industries not classified

        entrsizedscr
 0        01:  Total
 1          02:  0-4
 2          03:  5-9
 3        04:  10-19
 4          05:  <20
 ...             ...
 727307     02:  0-4
 727308     03:  5-9
 727309   04:  10-19
 727310     05:  <20
 727311    08:  <500

 [727312 rows x 13 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB     EMPL_N EMPLFL_R EMPLFL_N  \
 0           0    --         1  5900731  7663938  124085947      NaN        G
 1           0    --         2  3643737  3649989    5877075      NaN        G
 2           0    --         3  1004555  1016287    6614340      NaN        G
 3           0    --         4   617390   648694    8297864      NaN        G
 4           0    --         5  5265682  5314970   20789279      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 727587     56    99         2       74       74         80      NaN        G
 727588     56    99         3        4        4         20      NaN        G
 727589     56    99         4        1        1          0        A        D
 727590     56    99         5       79       79        117      NaN        H
 727591     56    99         8       79       79        117      NaN        H

             PAYR_N PAYRFL_N      STATEDSCR                  NAICSDSCR  \
 0       6253488252        G  United States                      Total
 1        263152063        G  United States                      Total
 2        243719141        G  United States                      Total
 3        321846938        G  United States                      Total
 4        828718142        G  United States                      Total
 ...            ...      ...            ...                        ...
 727587        2072        G        Wyoming  Industries not classified
 727588         262        H        Wyoming  Industries not classified
 727589           0        D        Wyoming  Industries not classified
 727590        2408        G        Wyoming  Industries not classified
 727591        2408        G        Wyoming  Industries not classified

        entrsizedscr
 0        01:  Total
 1          02:  0-4
 2          03:  5-9
 3        04:  10-19
 4          05:  <20
 ...             ...
 727587     02:  0-4
 727588     03:  5-9
 727589   04:  10-19
 727590     05:  <20
 727591    08:  <500

 [727592 rows x 13 columns],
         STATE NAICS  ENTRSIZE     FIRM     ESTB     EMPL_N EMPLFL_R EMPLFL_N  \
 0           0    --         1  5954684  7757807  126752238      NaN        G
 1           0    --         2  3665182  3671901    5923452      NaN        G
 2           0    --         3  1013878  1025690    6681968      NaN        G
 3           0    --         4   626900   657781    8432521      NaN        G
 4           0    --         5  5305960  5355372   21037941      NaN        G
 ...       ...   ...       ...      ...      ...        ...      ...      ...
 727993     56    99         3        3        3         18      NaN        J
 727994     56    99         4        1        1          0        A        D
 727995     56    99         5       66       66        111      NaN        H
 727996     56    99         6        2        2          0        B        D

In [166]:
# let's concat the out list so that each object within the list is combined and put into a data frame
# NOTE that the axis is important!
e = pd.concat(out, axis=0)
e

,STATE,NAICS,ENTRSIZE,FIRM,ESTB,EMPL,EMPLFL_R,EMPLFL_N,PAYR,PAYRFL_N,RCPT,RCPTFL_N,STATEDSCR,NAICSDSCR,ENTRSIZEDSCR,EMPL_N,PAYR_N,RCPT_N,entrsizedscr,NCSDSCR
0,0,--,1,6049655,7705018,120604265.0,NaN,G,5.026778e+09,G,2.974674e+10,G,United States,Total,Total,NaN,NaN,NaN,NaN,NaN
1,0,--,2,3705275,3710700,6139463.0,NaN,G,2.349213e+08,G,1.434681e+09,G,United States,Total,0-4,NaN,NaN,NaN,NaN,NaN
2,0,--,3,1060250,1073875,6974591.0,NaN,G,2.224195e+08,G,1.144930e+09,G,United States,Total,5-9,NaN,NaN,NaN,NaN,NaN
3,0,--,4,644842,682410,8656182.0,NaN,G,2.920883e+08,G,1.395498e+09,G,United States,Total,10-19,NaN,NaN,NaN,NaN,NaN
4,0,--,5,5410367,5466985,21770236.0,NaN,G,7.494291e+08,G,3.975109e+09,G,United States,Total,<20,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569707,56,813990,8,19,19,NaN,NaN,G,NaN,G,NaN,NaN,Wyoming,NaN,08: <500,64.0,3192.0,NaN,NaN,"Other Similar Organizations (except Business, ..."
569708,56,99,1,43,43,NaN,NaN,J,NaN,G,NaN,NaN,Wyoming,NaN,01: Total,64.0,1767.0,NaN,NaN,Industries not classified
569709,56,99,2,40,40,NaN,NaN,J,NaN,G,NaN,NaN,Wyoming,NaN,02: <5,36.0,1226.0,NaN,NaN,Industries not classified
569710,56,99,5,43,43,NaN,NaN,J,NaN,G,NaN,NaN,Wyoming,NaN,05: <20,64.0,1767.0,NaN,NaN,Industries not classified
569711,56,99,8,43,43,NaN,NaN,J,NaN,G,NaN,NaN,Wyoming,NaN,08: <500,64.0,1767.0,NaN,NaN,Industries not classified

In [167]:
e.columns

Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR', 'PAYRFL_N', 'RCPT', 'RCPTFL_N', 'STATEDSCR',
       'NAICSDSCR', 'ENTRSIZEDSCR', 'EMPL_N', 'PAYR_N', 'RCPT_N',
       'entrsizedscr', 'NCSDSCR'],
      dtype='object')

In [168]:
# There seems to be a few columns that have multiple missing values, let's look into this.
# we can print the headers each time it loops through the file and also print the year (so I know which file)
out =[] # Creating an empty list
for y in range(2007,2018): #looping through years because the file structure is the same except for the year
    data = pd.read_csv(str(path_firm)+'us_state_6digitnaics_'+str(y)+'.txt',encoding='latin1')
    print(y) #printing year to see which file
    print(data.columns)  #printing column names to see the issue

2007
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR', 'PAYRFL_N', 'RCPT', 'RCPTFL_N', 'STATEDSCR',
       'NAICSDSCR', 'ENTRSIZEDSCR'],
      dtype='object')
2008
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR', 'PAYRFL_N', 'STATEDSCR', 'NAICSDSCR',
       'ENTRSIZEDSCR'],
      dtype='object')
2009
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR', 'PAYRFL_N', 'STATEDSCR', 'NAICSDSCR',
       'ENTRSIZEDSCR'],
      dtype='object')
2010
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR', 'PAYRFL_N', 'STATEDSCR', 'NAICSDSCR',
       'ENTRSIZEDSCR'],
      dtype='object')
2011
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'STATEDSCR', 'NAICSDSCR',
       'ENTRSIZEDSCR'],
      dtype='object')
2012
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'RCPT_N', 'RCPTFL_N', 'STATEDSCR',
       'NAICSDSCR', 'ENTRSIZEDSCR'],
      dtype='object')
2013
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'STATEDSCR', 'NAICSDSCR',
       'entrsizedscr'],
      dtype='object')
2014
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'STATEDSCR', 'NAICSDSCR',
       'entrsizedscr'],
      dtype='object')
2015
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'STATEDSCR', 'NAICSDSCR',
       'entrsizedscr'],
      dtype='object')
2016
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'STATEDSCR', 'NCSDSCR',
       'entrsizedscr'],
      dtype='object')
2017
Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'STATEDSCR', 'NCSDSCR',
       'ENTRSIZEDSCR'],
      dtype='object')

In [169]:
#creating sets to compare the two to see what the difference is in the two files
columns_2007 = {'STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'STATEDSCR', 'NAICSDSCR',
       'ENTRSIZEDSCR'}
columns_2012 = {'STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL_N', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR_N', 'PAYRFL_N', 'RCPT_N', 'RCPTFL_N', 'STATEDSCR',
       'NAICSDSCR', 'ENTRSIZEDSCR'}

In [170]:
#This function compares the two sets and highlights the difference
columns_2012.difference(columns_2007)

{'RCPTFL_N', 'RCPT_N'}

In [171]:
#dropping the columns from our concatted dataframe
e = e.drop(['RCPTFL_N', 'RCPT_N'],1) #dropping the index column

<ipython-input-171-31ec91b4bf85>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  e = e.drop(['RCPTFL_N', 'RCPT_N'],1) #dropping the index column

In [172]:
e.columns

Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR', 'PAYRFL_N', 'RCPT', 'STATEDSCR', 'NAICSDSCR',
       'ENTRSIZEDSCR', 'EMPL_N', 'PAYR_N', 'entrsizedscr', 'NCSDSCR'],
      dtype='object')

What if I want to add the year for each file so that I can use it in my dataset?

You can create a new column with information of the year as it loops through the files with: 
``` python
       data['year'] = y
```

In [173]:
#Now, to put it all together in one for loop

out =[] # Creating an empty list

for y in range(2007,2018): #looping through years because the file structure is the same except for the year
    data = pd.read_csv(str(path_firm)+'us_state_6digitnaics_'+str(y)+'.txt',encoding='latin1')
    # reading the data, encoding it in latin1
    data['year'] = y    #creating a new variable that inputs the year of the data
    out.append(data) #appending the information for each year in a list
e = pd.concat(out, axis=0) #concating the data on the 0 axis
len(e)

In [174]:
e = e.rename(columns = {'STATEDSCR':'description'})

In [182]:
e.columns

Index(['STATE', 'NAICS', 'ENTRSIZE', 'FIRM', 'ESTB', 'EMPL', 'EMPLFL_R',
       'EMPLFL_N', 'PAYR', 'PAYRFL_N', 'RCPT', 'RCPTFL_N', 'description',
       'NAICSDSCR', 'ENTRSIZEDSCR', 'year', 'EMPL_N', 'PAYR_N', 'RCPT_N',
       'entrsizedscr', 'NCSDSCR'],
      dtype='object')

### Pivoting and Reshaping

Sometimes you might find that you need to change the way the data is presented.

Data can be stored "long" or "wide" - largely, how you want to display the information depends on what you are doing.

Generally, I work with long data because of the way most programs read data for regression analysis.

<img src= "long_wide.png">

Often, you'll want to change the format of the data. There are a few ways that you can do this.

Also, pivot is excel's best feature to easily manipulate data in that program. It is basically python's groupby feature combined with pivot.

In [184]:
len(e)

7965808

In [226]:
#I'm filtering so that I look at only the national information about firms size by industry
firm_data = e[(e['STATE']==0)& (e['NAICS']!= '--')& (e['NAICS']!= '99')]

In [ ]:
firm_data

In [187]:
#I'll explain this in the next section - for now hold off on questions on this magic.
firm_data_grouped=firm_data[['NAICS','FIRM','EMPL','year']].drop_duplicates().groupby(['NAICS','year']).sum().reset_index()

firm_data_grouped

        NAICS  year   FIRM      EMPL
0          11  2007  90255  562904.0
1          11  2008  86128  545465.0
2          11  2009  82461  503742.0
3          11  2010  82526  510047.0
4          11  2011  81153       0.0
...       ...   ...    ...       ...
22744  813990  2013  79180       0.0
22745  813990  2014  78537       0.0
22746  813990  2015  77887       0.0
22747  813990  2016  77634       0.0
22748  813990  2017  76673       0.0

[22749 rows x 4 columns]

In [188]:
# rows are industry
firm_data.pivot(index='NAICS',columns='year', values='EMPL')

year,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
NAICS,,,,,,,,,,,
11,562904.0,545465.0,503742.0,510047.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113,230350.0,217429.0,190539.0,192632.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1131,7804.0,7871.0,6860.0,6685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11311,7804.0,7871.0,6860.0,6685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113110,7804.0,7871.0,6860.0,6685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
813930,577307.0,573083.0,552022.0,544821.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81394,25874.0,45612.0,34742.0,41637.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
813940,25874.0,45612.0,34742.0,41637.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81399,484036.0,473629.0,467289.0,465951.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
813990,484036.0,473629.0,467289.0,465951.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [189]:
firm_data.pivot(index='year',columns='NAICS', values='FIRM')

NAICS,11,113,1131,11311,113110,1132,11321,113210,1133,11331,...,81391,813910,81392,813920,81393,813930,81394,813940,81399,813990
year,,,,,,,,,,,,,,,,,,,,,
2007,90255.0,40632.0,1572.0,1572.0,1572.0,671.0,671.0,671.0,38413.0,38413.0,...,64885.0,64885.0,24655.0,24655.0,58324.0,58324.0,6832.0,6832.0,84012.0,84012.0
2008,86128.0,37737.0,1532.0,1532.0,1532.0,657.0,657.0,657.0,35572.0,35572.0,...,64802.0,64802.0,25227.0,25227.0,56324.0,56324.0,9983.0,9983.0,80174.0,80174.0
2009,82461.0,34808.0,1376.0,1376.0,1376.0,600.0,600.0,600.0,32849.0,32849.0,...,64632.0,64632.0,25216.0,25216.0,55938.0,55938.0,8997.0,8997.0,79967.0,79967.0
2010,82526.0,34298.0,1430.0,1430.0,1430.0,576.0,576.0,576.0,32306.0,32306.0,...,63837.0,63837.0,25301.0,25301.0,55059.0,55059.0,11162.0,11162.0,79785.0,79785.0
2011,81153.0,33401.0,1444.0,1444.0,1444.0,604.0,604.0,604.0,31367.0,31367.0,...,62385.0,62385.0,25062.0,25062.0,54374.0,54374.0,8562.0,8562.0,79212.0,79212.0
2012,83915.0,33838.0,1470.0,1470.0,1470.0,639.0,639.0,639.0,31743.0,31743.0,...,62153.0,62153.0,25557.0,25557.0,53474.0,53474.0,9805.0,9805.0,79427.0,79427.0
2013,84134.0,33705.0,1560.0,1560.0,1560.0,598.0,598.0,598.0,31547.0,31547.0,...,64009.0,64009.0,25308.0,25308.0,53203.0,53203.0,8860.0,8860.0,79180.0,79180.0
2014,83151.0,33034.0,1650.0,1650.0,1650.0,608.0,608.0,608.0,30776.0,30776.0,...,61517.0,61517.0,25284.0,25284.0,52432.0,52432.0,10987.0,10987.0,78537.0,78537.0
2015,85148.0,33827.0,1640.0,1640.0,1640.0,648.0,648.0,648.0,31524.0,31524.0,...,61144.0,61144.0,25323.0,25323.0,52047.0,52047.0,8750.0,8750.0,77887.0,77887.0
2016,85784.0,33697.0,1693.0,1693.0,1693.0,647.0,647.0,647.0,31365.0,31365.0,...,60918.0,60918.0,25534.0,25534.0,51416.0,51416.0,9228.0,9228.0,77634.0,77634.0
2017,89001.0,34016.0,1859.0,1859.0,1859.0,668.0,668.0,668.0,31496.0,31496.0,...,60146.0,60146.0,25363.0,25363.0,51127.0,51127.0,9137.0,9137.0,76673.0,76673.0

### Groupby

Pandas makes statistics by grouping variables very easy. This will be something that you will do often (as shown above). It's VERY convenient and makes doing statistics super easy. 

Essentially, the process is split-apply-combine (also exists in R)

<img src ='groupby.png'>

In [191]:
print(len(firm_data[['NAICS','EMPL','year']].drop_duplicates()))
len(firm_data)

22749

22749

In [196]:
#so, let's go back to this example and break it apart

firm_data[['NAICS','EMPL','year']].groupby(['year','NAICS']).sum().reset_index()

       year   NAICS      EMPL
0      2007      11  562904.0
1      2007     113  230350.0
2      2007    1131    7804.0
3      2007   11311    7804.0
4      2007  113110    7804.0
...     ...     ...       ...
22744  2017  813930       0.0
22745  2017   81394       0.0
22746  2017  813940       0.0
22747  2017   81399       0.0
22748  2017  813990       0.0

[22749 rows x 3 columns]

In [ ]:
# Let's say I am interested in calculating the total firm size in every industry by year.

#This line filters for information just about the industry, firm size, and year
firm_data[['NAICS','FIRM','EMPL', 'year']]

#the function below drops any duplicate values that might exist
.drop_duplicates()

# this function groups (splits) the information by industry and year
.groupby(['NAICS','year'])

# this function applies the way of which you want to calculate the data
.sum()

#this function resets the index (not necessary, but good to know about how to use it when you want to combine this data )
.reset_index()

We can use a variety of apply functions: sum, average, median, max, min, standard deviation, variance, count, size(the group sizes) and more!

In [219]:
# Here we will find the average size of a firm by industry and year
firm_data[['NAICS','FIRM']].drop_duplicates().groupby(['NAICS']).mean().reset_index()


firm_data[['NAICS','FIRM']].drop_duplicates().groupby(['NAICS']).mean().reset_index()

       NAICS          FIRM
0         11  84877.818182
1        113  34817.545455
2       1131   1566.000000
3      11311   1566.000000
4     113110   1566.000000
...      ...           ...
2262  813930  53974.363636
2263   81394   9300.272727
2264  813940   9300.272727
2265   81399  79317.090909
2266  813990  79317.090909

[2267 rows x 2 columns]

In [199]:
#What if I want to use a different statistic not included in the groupby features?  
# You can use just about any function that you want!

#First, define your groups
firm_data[['NAICS','FIRM']].drop_duplicates().groupby(['NAICS'])

#Then apply an existing function - in this case, I want to see what is the size of the top 10% of large firms by industry and year
firm_data[['NAICS','FIRM']].drop_duplicates().groupby(['NAICS']).quantile(0.9)

           FIRM
NAICS
11      89001.0
113     37737.0
1131     1693.0
11311    1693.0
113110   1693.0
...         ...
813930  56324.0
81394   10987.0
813940  10987.0
81399   80174.0
813990  80174.0

[2267 rows x 1 columns]

In [202]:
pd.DataFrame?

You can also pass through your own groupby functions through the apply method.

To do that, you first need to learn about defining functions using ```def```

You can create your own definitions that you can use throughout your jupyter notebook (or you can even link it to all potential work using code files).

It's basically how to create a function - all of the funciton you use are built around this.

``` python
def function_name(required_argument, optional_arguments = ''):
    """
    This area is a summary of what the function does. 
    You should always include documentation about the arguments.
   
    Parameters
    ----------------------------------------------------------
    required_items: required argument for the function to run
    
    optional_arguments: are optional arguments that might have a default setting or left blank

"""
    print("This area is where you have the code you want to run" +required_items)
    return

function_name(required_items)

```

The value return will return to you whatever you ask it to return after it runs the series of code.

You can define functions for anything (like getting and requesting APIs!)

In [ ]:
import requests

def get_request(url):
        response = requests.get(url)
        response_json = response.json()
        return response_json

In [ ]:
get_request('http://api.open-notify.org/iss-now.json')

In [203]:
# Let's define a simple function that takes the difference between the maximum and minimum values
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [213]:
# I can see the difference of the smallest and largest firms by industry (between the years in the dataset)
firm_data.groupby(['NAICS']).aggregate(peak_to_peak)


wjp.groupby('Region').factor1.transform(sum)

NameError: name 'aggregate' is not defined

In [ ]:
# We can also use groupby and select the column of the information we want
wjp.groupby('Country').factor1.sum()

#but, if you do this, you might need to make it back into a dataframe, like such
pd.DataFrame(wjp.groupby('Region').factor1.mean()).reset_index()

### transform

We may have created a new variable from our dataset and want to append it to the end of it. We can do this with transform. We add this to the end of our groupby statements.

In [211]:
wjp.region_factor1 = wjp.groupby('Region').factor1.transform(sum)

#also this works

wjp['region_factor1'] = wjp.groupby('Region')['factor1'].transform(sum)

<ipython-input-211-0ef751deebb5>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  wjp.region_factor1 = wjp.groupby('Region').factor1.transform(sum)

In [ ]:
wjp['region_factor1'] = wjp.groupby('Region')['factor1'].transform

# Common Data Cleaning Issues

Often, when we import or collect data we may have unwanted characters in our columns. This is problematic if you have numeric data with string items (like commas or periods) and the data is read as a string instead of a number. 

You'll first want to check the data type the column is, and then you will want to clean the data. Here, I'll show you how to do this. You will use this in your project, almost guaranteed, so keep this in your back pocket.

We can check for data types using `df.dtypes` in pandas

It will tell us what is the type of format each column in our dataframe.  If something is in string or object that should be float or int, you will realize that this column will likely need to be cleaned.

The process is:
1. Check the type of the data
2. Remove characters
3. Change type of data

In [ ]:
import numpy as np 
firm_data['FIRM_2'] = np.where(firm_data['FIRM']< 2000, '%,',firm_data['FIRM'])
firm_data.dtypes

#Here, we can see FIRM_2 is object, but needs to be either float or int (should be numeric)

There are a few ways to clean your dataset. 

- You can remove specific characters that you know are problematic.  
- You can remove all non-numeric characters.

Both are done with the replace function.

In [ ]:
firm_data['FIRM_2'].replace(r'[a-zA-Z%]', '', regex=True, inplace=True)

In [ ]:
# We can remove characters from this column.
firm_data['FIRM_2'] = firm_data['FIRM_2'].replace(r'[a-zA-Z%]', '', regex=True, inplace=True)
#and then change data type from object to float
firm_data['FIRM_2'] = firm_data['FIRM_2'].astype(float)

# Practice Exercise

Use the data about firms and:

1. Find the average number of employees 'EMPL' a firm has by industry nationally for the year 2015
2. Find the average number of employees 'EMPL' a firm has by industry and state for each year there is data
3. What's the standard deviation of the number of workers on the payroll (PAYR_N) for each state and industry across years?
4. What's the industry with the greatest gap between the number of payroll workers ('PAYR_N') and number of employees ('EMPL_N') in the year 2017?

In [ ]:
path_firm ='/Users/mkaltenberg/Documents/Data Analysis Python R Lectures/Data_Analysis_Python_R/Lecture_6/ds/firm_size_state_industry/'

In [ ]:
#Now, to put it all together in one for loop

out =[] # Creating an empty list

for y in range(2007,2018): #looping through years because the file structure is the same except for the year
    data = pd.read_csv(str(path_firm)+'us_state_6digitnaics_'+str(y)+'.txt',encoding='latin1')
    # reading the data, encoding it in latin1
    data['year'] = y    #creating a new variable that inputs the year of the data
    out.append(data) #appending the information for each year in a list
e = pd.concat(out, axis=0) #concating the data on the 0 axis

### Data

[This github repository](https://github.com/plotly/datasets)has a variety of datasets that you can use and practice with